---
title: Tentang Cipta Media Bersama
layout: info
---

<div class="container article" style="margin-top: 30px;">
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="tentang.tentang">Tentang Cipta Media Bersama</span></h1>
            <img src="/static/img/landing/header-cipta.gif" class="img-responsive center-block" alt="">
        </div>
    </div>
    
  <div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tentang">Tentang Kami</a></li>
          <li><a data-toggle="tab" href="#topik">Topik Hibah</a></li>
          <li><a data-toggle="tab" href="#kategori">Kategori Hibah</a></li>
          <li><a data-toggle="tab" href="#proses">Proses Hibah</a></li>
            <li><a data-toggle="tab" href="#kunci">Kata Kunci</a></li>
            <li><a data-toggle="tab" href="#petunjuk">Petunjuk dan Arahan</a></li>
            <li><a data-toggle="tab" href="#kriteria">Kriteria</a></li>
            <li><a data-toggle="tab" href="#kontak">Kontak</a></li>
        </ul>

        <div class="tab-content">
            <div id="tentang" class="tab-pane fade in active">
                <br/>
                <h1>Ford Foundation</h1>
                <p>Ford Foundation adalah organisasi nirlaba swasta yang berpusat di New York, Amerika Serikat dan didirikan oleh Edsel Ford dan Henry Ford pada tahun 1936. Ford Foundation ada di Indonesia sejak 1953, dan komitmen Ford pada tahun 2008 adalah dukungan untuk inisyatif-inisyatif yang berfokus pada penegakan nilai demokrasi, pengembangan komunitas dan ekonomi, pendidikan, media, seni dan budaya, serta hak asasi manusia. Ford memiliki kepentingan untuk mengidentifikasi dan memberikan kontribusi terhadap berbagai penyelesaian masalah lokal, nasional, maupun internasional.
<br/>
Ford Foundation di Indonesia memberikan hibah untuk digunakan oleh berbagai lembaga pendidikan, organisasi masyarakat madani, pusat penelitian, kantor pemerintah dan perguruan tinggi; maupun individu – melalui riset, pelatihan, serta program beasiswa. Secara umum segala sesuatu yang memperkuat nilai-nilai demokratis, mengurangi ketidakadilan dan kemiskinan, mendukung kerjasama internasional dan meningkatkan kemampuan manusia untuk berkarya demi kemanusiaan. Komitmen Ford adalah terhadap perubahan sosial yang positif, keadilan sosial, serta dukungan akan keanekaragaman dan pluralisme antar mitra Ford Foundation di Indonesia</p>
                <h1>Aliansi Jurnalis Independen (AJI) Indonesia</h1>
                <p>Aliansi Jurnalis Independen (AJI) Indonesia adalah organisasi pelopor dalam memperjuangkan kebebasan media di Indonesia. AJI didirikan pada tahun 1994 pada saat pemerintah dibawah Presiden Soeharto mengintervensi media dengan menutup majalah mingguan independen Tempo, Detik, dan Editor. Sejak saat itu AJI secara aktif mengkampanyekan kebebasan pers dan hak mengutarakan pendapat di Indonesia. AJI juga merupakan anggota dari Federasi Jurnalis Internasional (International Federation of Journalists – IFJ) di Brusels, International Freedom of Expression Exchange (IFEX) yang berbasis di Kanada, South East Asian Press Alliance (SEAPA) dan FORUM ASIA, jaringan perjuangan hak azasi manusia yang berbasis di Bangkok. Kini AJI merupakan perkumpulan dengan anggota lebih dari 1,800 jurnalis profesional dan cabang di 30 kota di Indonesia. AJI juga memberlakukan nilai-nilai ketat anti suap untuk wartawan yang menjadi anggotanya.</p>
                <h1>ICT Watch</h1>
                <p>Kemitraan Teknologi Informasi dan Komunikasi Indonesia atau lebih dikenal dengan ICT Watch, adalah perkumpulan berbasiskan anggota yang didirikan pada tahun 2002 oleh sekelompok anak muda yang berkomitmen untuk memajukan bidang teknologi informasi dan komunikasi yang dapat memberdayakan anak muda di Indonesia.
<br/>
ICT Watch memfokuskan diri dalam riset dan kampanye melalui sosial media dan telah berhasil menjalin kerjasama yang unik dengan pemangku kepentingan yang luas di sektor swasta dan pemerintah, mulai dari Asosiasi Penyedia Jasa Internet Indonesia (APJII) hingga Kementrian Komunikasi dan Informatika dibawah Menteri Komunikasi dan Informatika yang sedang menjabat, Tifatul Sembiring.
<br/>
Kini program ICT Watch yang giat dikampanyekan adalah “internet sehat“, sebagai payung program advokasi untuk segala aktifitas yang terkait dengan penggunaan internet dan media baru dalam berkomunikasi, mendistribusikan informasi, dan berbagi pengetahuan.</p>
                <h1>Wikimedia Indonesia</h1>
                <p>Wikimedia Indonesia adalah sebuah organisasi nirlaba berbentuk asosiasi dengan sistem keanggotaan terbuka (umum). Organisasi ini didirikan pada tahun 2008 di Jakarta oleh sukarelawan komunitas Wikipedia bahasa Indonesia, situs ensiklopedi terbesar berbahasa Indonesia. Wikimedia Indonesia berdiri karena dengan tujuan membina pengetahuan pada umumnya, dan sumber terbuka pada khususnya. Dengan moto “Bebaskan Pengetahuan”, Wikimedia Indonesia pada tahun 2009 mendaulat Chirstian Sugiono sebagai Duta Pengetahuan Bebas karena dianggap memiliki jiwa yang seiring dan peduli akan perkembangan dan kemajuan pengetahuan bersumber terbuka. Wikimedia Indonesia adalah salah satu dari 30 jaringan asosiasi-asosiasi lokal Wikimedia lainnya yang tersebar di 30 negara di dunia.</p>
            </div>            
            
          <div id="topik" class="tab-pane fade">
            <br/>
            Setiap ide yang akan dikirimkan ke dalam Hibah Terbuka ini harus memilih salah satu topik di bawah.
            <br/>
            <h1>1. Meretas batas – kebhinekaan bermedia</h1>
            <p>Kemajuan teknologi kini memungkinkan media hadir dimana-mana, mulai dari genggaman pribadi seperti seluler. Dengan kemajuan teknologi, perusahaan media tidak lagi menjadi satu-satunya pembuat informasi. Kini setiap warga melalui jaringan mereka bebas membuat stasiun beritanya sendiri.
<br/>
Namun muatan lokal yang kita terima masih terpusat pada daerah tertentu dan isu kalangan ekonomi menengah. Seharusnya media baru dengan masyarakat sebagai pembuat informasi dapat meretas pemusatan ini. Bagaimana media dapat memiliki muatan lokal spesifik dari berbagai sudut pandang yang tidak terwakili selama ini?</p>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oztR8mrrEeU"></iframe>
</div>
            <br/>

            <h1>2. Keadilan dan kesetaraan akses terhadap media</h1>
            <p>Penetrasi teknologi informasi dan komunikasi di Indonesia tidak merata. Walau pengguna internet di Indonesia meningkat secara dramatis dan pengguna telepon genggam lebih dari 180 juta, namun masih terpusat di beberapa wilayah dan kelompok tertentu di Indonesia. Akibatnya, akses informasi dan peluang hanya dapat dinikmati sebagian kalangan saja.
<br/>
Bagaimana strategi untuk menjembatani kesenjangan infrastruktur informasi dengan menerapkan teknologi tepat guna yang mudah dan terjangkau?</p>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/koXZXduI54U"></iframe>
</div>
            <br/>

            <h1>3. Kebebasan dan etika bermedia</h1>
            <p>Teknologi informasi telah memperlebar kebebasan media. Siapapun bisa menyebarkan informasi melalui internet, telepon genggam dan lainnya. Namun, di sisi lain kebebasan bermedia juga menimbulkan masalah etika. Berita bohong, siar kebencian, pelanggaran privasi, dan masalah-masalah etis lain semakin marak. Media arus utama, yang semestinya menyediakan berita secara profesional, juga menghadapi masalah etika.
<br/>
Kebebasan dan etika adalah seperti dua sisi mata uang, keduanya penting dan harus dijaga. Bagaimana menjaga kebebasan dan etika sekaligus? Menurut anda inisiatif atau teknologi apa yang dapat membantu media memproses, memverifikasi, dan mengolah berita dari serbuan berbagai arus informasi yang masuk?</p>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z-faQq7sCHs"></iframe>
</div>
            <br/>

            <h1>4. Pemantauan media</h1>
            <p>Selama ini masyarakat hanya menjadi konsumen media, tanpa memiliki peran dalam memberi umpan balik dari isi berita dan hiburan. Proses penyebarluasan informasi melalui media, membuahkan praktek pengumpulan berita terkini yang disampaikan secara cepat saat peristiwa berlangsung, namun tidak selalu akurat. Dominasi pemilik media terhadap muatan informasi seringkali mengalahkan kepentingan publik atas informasi yang benar dan relevan.
<br/>
Pemantauan dapat dilakukan oleh masyarakat baik dari sisi kepemilikan media, isi yang lebih beragam dan adil, praktek-praktek bermedia, dan muatan yang buruk yang disampaikan oleh media.?</p>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HbnKonhIQmQ"></iframe>
</div>
          </div>
        
          <div id="kategori" class="tab-pane fade">
            <h1>Kita Butuh Muatan (Konten) Lokal!</h1>
            <p>Teknologi dalam bidang media dan informasi tidak akan banyak berguna apabila isi yang disebarluaskan tidak bermanfaat untuk penduduk lokal atau tidak dimengerti karena kesenjangan budaya atau bahasa. Riset akademis menunjukkan bahwa potensi produktifitas pada organisasi ataupun pada komunitas dalam masyarakat akan meningkat apabila mereka memiliki informasi terhadap lingkungan mereka, informasi yang mereka butuhkan untuk maju.
<br/>
Masyarakat akan merasa lebih baik tentang diri mereka sendiri apabila mereka diberikan informasi ataupun akses pada informasi yang mereka butuhkan. Akses rakyat pada informasi adalah bagian dari lingkungan saling percaya dan perasaan aman. Memproduksi materi (isi) lokal dengan tujuan untuk menolong yang lain berpotensi menciptakan ketertarikan, mengurangi lingkungan yang penuh prasangka, dan menggerakkan masyarakat untuk melakukan tindakan ataupun mendidik perilaku kearah yang lebih baik.
<br/>
Media dan teknologi mencakup berbagai bidang dan tidak hanya soal sensor dan pornografi. Media dan teknologi adalah jalur distribusi untuk materi (konten) pengetahuan yang harus dilindungi oleh semua orang dan dibuka aksesnya untuk semua, karena pengetahuan adalah daya penggerak untuk perubahan dan perbaikan.
<br/>
Hibah Cipta Media Bersama hanya akan membiayai konten yang diproduksi dan disebarluaskan dengan hak cipta lisensi terbuka: Karya Cipta Bersama 3.0 (Creative Commons 3.0)</p>

            <br/>

            <h1>Kita butuh teknologi tepat guna!</h1>
            <p>Bersamaan dengan kehadiran teknologi kita juga memerlukan orang-orang yang mengerti tentang teknologi dan penggunaannya. Khusus untuk teknologi baru, tidak banyak orang yang berpengalaman untuk hal ini, karena itu kita membutuhkan orang-orang yang antusias tentang teknologi baru atau penggunaan baru untuk teknologi lama dan bereksperimen untuk pelayanan umum media bagi masyarakat.
<br/>
Hibah akan diberikan pada inovasi teknologi tepat guna (baik baru atau lama) ataupun aplikasi-aplikasi telpon genggam untuk mendukung komunitas lokal. Nilai tambah akan didapatkan oleh desain proyek teknologi yang merangsang keinginan masyarakat untuk bekerja sama dalam pemanfaatannya, ataupun mendapatkan banyak masukan dari komunitas dan masyarakat umum akan apa yang mereka butuhkan dan inginkan.
<br/>
Penggunaan telpon genggam di Indonesia telah menembus angka 150 juta pengguna pada bulan Januari 2010. Dari angka tersebut 80 persen perangkatnya dapat mengakses web, dengan tingkat penggunaan telpon genggam yang tinggi, hibah Cipta Media Bersama tertarik untuk membiayai inovasi layanan publik menggunakan perangkat telpon genggam, mulai dari cara-cara kreatif pembuatannya hingga distribusi penyebar luasannya. Teknologi telpon genggam membuka kesempatan pada publik yang tadinya tidak memiliki akses pada informasi untuk menerima informasi, baik berupa teks (SMS), permainan, musik, hingga gambar. Panitia juga mempertimbangkan penggunaan teknologi ditempat-tempat yang belum tersentuh akses komunikasi, media, maupun informasi.</p>

            <br/>

            <h1>Kita butuh pembela!</h1>
            <p>Indonesia kini memiliki lebih dari satu undang-undang dan peraturan dalam pasal yang berbeda mengenai hukuman serta sangsi dalam berbagai bentuk dan menggunakan berbagai media untuk hal yang sama: pencemaran nama baik. Kami percaya bahwa peraturan untuk mencegah peristiwa itu untuk terjadi memang diperlukan, namun dalam kejadiannya, banyak peraturan ini menimbulkan ketakutan untuk publik secara luas melaporkan kejadian-kejadian sehari-hari berupa ketidak adilan administrasi atau perlakuan-perlakuan yang seharusnya sudah menjadi hak publik.
<br/>
Banyak kejadian dimana pelapor dijerat menggunaka pasal ini untuk niat baiknya memberikan informasi. Kami mengerti walaupun bukan tujuan dari peraturan untuk mematikan kreatifitas, namun seperti virus pada komputer, aturan yang menjerat membuat masyarakat menjadi takut untuk menyuarakan pendapat yang berbeda, mengkiritik, memberi saran perbaikan, ataupun menyuarakan kebenaran â€“ takut bersuara, takut dihukum. Orang yang berpendapat atau mengutarakan informasi berupa pengungkapan masalah â€œdianggapâ€ mencemarkan nama baik seseorang ataupun institusi, dicap luar biasa berani; berani dihukum, berani dituntut, dan mencari masalah.
<br/>
Kami percaya pribadi-pribadi ini harus dibela.
<br/>
Hibah Cipta Media Bersama mengundang individu dan kelompok yang memiliki cara-cara kreatif membumikan hukum, peraturan, dan etika tentang media dan teknologi untuk masyarakat umum. Hibah ini juga mendukung konsep ide kreatif dalam memperluas dan memperkuat jejaring pembelaan dan dukungan terhadap penggunaan teknologi dan penggunaan media di Indonesia.
<br/>
Identifikasi masalah yang muncul dari kritik merupakan langkah pertama untuk perbaikan, dan hal ini bukan hal yang luar biasa. Menyuarakan kebenaran juga bukan sesuatu yang luar biasa atau mencari masalah. Untuk merangsang keberanian dan motivasi untuk kreatifitas kita butuh pembela untuk para pencipta dan penyuara kebenaran melalu media. Kami percaya bahwa semua orang berhak hidup aman, bebas dari ketakutan, dan hukum ada untuk melindungi semua orang, terlepas dari pandangan hidup dan pendapat mereka.
<br/>
Apabila kamu mahasiswa di bidang hukum, jurnalistik, ataupun komunikasi, dan senang mengidentifkasi masalah-masalah atau potensi media disekitar kamu, serta mampu mengaitkannya dengan gambaran yang lebih besar untuk perbaikan. Atau kamu senang kumpul-kumpul dan membuat acara-acara untuk musyarawarah kecil yang mengutarakan analisis yang netral tentang keadaan, tidak emosional, dan mengedepankan fakta; Cipta Media Bersama menyediakan hibah untuk tim pembela yang ampuh yang mampu berjejaring dengan fokus cara-cara kreatif membumikan hukum dan peraturan tentang media dan teknologi untuk masyarakat umum.</p>

            <br/>

            <h1>Kita butuh aksi, pemantau, mediator, kemitraan, dan strategi kreatif!</h1>
            <p><b>Aksi</b><br/>
Kita tidak bisa lalai atau lupa untuk membangun kekuatan untuk perbaikan. Gunakan pengalaman, gaya dan kalimat kamu sendiri sebagai konsumen media dan pemantau keadaan. Hal apa yang kamu anggap kurang? Apa yang tidak diceritakan oleh media dan terjadi pada lingkungan kamu? Apa yang kamu inginkan? Apa yang bisa kamu lakukan? Apakah kamu tahu siapa yang diuntungkan dari penayangan hal-hal tertentu? Apakah kamu tau lembaga-lembaga masyarakat yang ada disekitar kamu yang berhubungan dengan media, apa yang terakhir mereka lakukan? Apakah kamu setuju? Apakah kamu punya ide yang lebih baik yang dapat membantu mereka?
<br/>
Sudah bukan jamannya lagi berpangku tangan dan menyalahkan keadaan, keadaan bisa berubah, walaupun tidak mudah, kamu bisa merubahnya.
<br/>
<b>Pemantau</b><br/>
Masyarakat perlu tahu akan perilaku media, apakah itu benar informasi, ataukah hiburan berkedok informasi, berapa banyak informasi/ hiburan sejenis ditayangkan? Berapa lama? Berapa banyak iklan yang dijual di koran/ TV/ Radio, apa lebih banyak iklannya, informasinya? Baikkah informasinya? Baik untuk siapa? Apakah berat sebelah? Lalu bagaimana masyarakat menyikapinya.
<br/>
Kini masyarakat biasa mengakses informasi melalui telpon genggam memahami teknologi baru sebagai pencipta informasi masal dan bertingkah laku dalam dunia maya sebagai pencipta informasi?
<br/>
<b>Mediator dan kemitraan</b><br/>
Banyak kalangan menengah kebawah, kelompok, dan komunitas tidak mampu menjangkau media kecuali tentang kekerasan, kejahatan, dan kecelakaan. Terkadang strategi â€œjemput bolaâ€ dibutuhkan untuk perbaikan. Apabila kamu melihat peluang untuk menjadi mediator antar kelompok rentan atau di daerah terpencil di lingkungan dekat kamu yang dapat menyelesaikan masalah sosial dengan membuka akses kelompok-kelompok ini pada media, sampaikan ide kamu.
<br/>
<b>Strategi kreatif!</b><br/>
Bagian ini adalah bagian bebas, selama hal itu menyangkut media dan layanan masyarakat, untuk semua hal yang tidak dapat kami pikirkan, dan kamu pikir kamu lebih tau, katakan!
<br/>
Masukkan ide kamu untuk aksi, pemantau, mediator, kemitraan, dan stategi kreatif dalam bidang media.</p>
<br/>
            <h1>Kita butuh proyek yang panjang umur!</h1>
            <p>Terakhir, untuk seluruh kategori pengajuan hibah diatas, kami perlu tahu bagaimana proyek kamu bisa panjang umur apabila tidak mendapat hibah lagi. Bagaimana proyek kamu yang luarbiasa itu dapat di replikasi atau jangkauan bisa diperluas apabila sudah berjalan dan kemudian dananya habis? Apabila kamu memiliki strategi dan kemampuan agar proyek kamu bisa panjang umur? Ini akan menjadi pertimbangan khusus untuk dikabulkan.</p>
          </div>

            <div id="proses" class="tab-pane fade">
                <br/>
                <img src="/static/img/landing/prosescmb.jpg" class="img-responsive center-block" alt="">
            </div>
            
            <div id="kriteria" class="tab-pane fade">
                <br/>
                <p>Setiap ide yang masuk akan ditinjau oleh tim seleksi awal yang kemudian akan memilih 25 permohonan hibah yang dianggap baik, sementara 5 permohonan hibah akan dipilih oleh publik melalui proses pemilihan publik. Ke-30 ide yang terpilih ini kemudian akan diminta untuk memasukkan proposal yang lebih lengkap untuk kemudian diajukan pada Tim Penasehat dan Seleksi.
<br/>
Ide anda harus terkait dengan salah satu dari empat topik yang telah disyaratkan untuk permintaan hibah Cipta Media Bersama dan yang terpenting harus fokus dalam memperbaiki sektor media. Berikut adalah beberapa kriteria yang akan dipertimbangkan oleh Tim Seleksi:</p>
<ol>
<li>Pengadopsian – apabila ide diimplementasikan menjadi proyek dilapangan yang nyata, mungkinkan ide tersebut akan banyak diadopsi dan mampu menjangkau masyarakat secara luas?</li>
<li>Berorientasi akan penyelesaian masalah – apakah proyek mengandung potensi untuk penyelesaian terhadap masalah yang dihadapi oleh situasi media sekarang?</li>
<li>Replikasi – apakah proyek memiliki potensial untuk mereplikasi diri pada daerah lain di Indonesia diluar area-area geografis proyek tersebut?</li>
<li>Kelayakan – apakah ide tersebut sesuai dengan persyaratan yang diajukan oleh Cipta Media Bersama dan masuk dalam jangka waktu yang dapat dikelola?</li>
<li>Target – apakah ide yang diajukan menguntungkan untuk kelompok rentan ataupun populasi-populasi yang tersisihkan?</li>
</ol>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dp5tjUuZiF0"></iframe>
                </div>
            </div>
            
            <div id="kontak" class="tab-pane fade">
                <br/>
                <p>Untuk pertanyaan dan informasi dapat menghubungi:</p>
                <p>Lewat SMS +(62)877 8880 2262</p>
                <p>ketik CMB[spasi]Nama[spasi]Lokasi[spasi]Pesan anda</p>
                <p>Lewat email: info@ciptamedia.org</p>
                <p>Mention Twitter di @ciptamedia</p>
                <p>Posting di Fan Page Cipta Media Bersama
                <br/>facebook.com/ciptamedia</p>
            </div>
            
            <div id="kunci" class="tab-pane fade">
                <br/>
                <h1>kata kunci organisasi untuk lapor.ciptamedia.org melalui sms</h1>
                <ol>
                    <li>Benor FM</li>
                        <ol>
                            <li>Situs web: http://benor-fm.warsi.or.id</li>
                            <li>Facebook: https://www.facebook.com/pages/Benor-FM/191411954262992</li>
                            <li>Twitter: @benorfm (pantauan)</li>
                            <li>Ushaidi SMS ketik BFM Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Indonesian Street Art Database</li>
                        <ol>
                            <li>Situs web: http://award.indonesianstreetartdatabase.org</li>
                            <li>Facebook: http://www.facebook.com/indonesianstreetartdatabase</li>
                            <li>Twitter: @I_S_A_D (pantauan)</li>
                            <li>Ushaidi SMS ketik ISAD Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Border Blogger Movement</li>
                        <ol>
                            <li>Situs web: http://borderblogger.org/</li>
                            <li>Facebook: https://www.facebook.com/pages/Border-Blogger-Movement/141423292647443</li>
                            <li>Twitter: @BorderBlogger (pantauan)</li>
                            <li>Ushaidi SMS ketik BBM Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>JRKL</li>
                        <ol>
                            <li>Situs web: http://jrklampung.org</li>
                            <li>Facebook: https://www.facebook.com/jrklampung</li>
                            <li>Twitter: @jrklampung (pantauan)</li>
                            <li>Ushaidi SMS ketik JRKL Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Radio Buruh Perempuan</li>
                        <ol>
                            <li>Situs web: http://marsinahfm.wordpress.com/</li>
                            <li>Facebook: http://www.facebook.com/pages/Radio-komunitas-marsinah-fm/368827486478900</li>
                            <li>Twitter: @MarsinahFM (pantauan)</li>
                            <li>SMS independen ke radio 0896-378-114-20</li>
                        </ol>
                    <br/>
                    <li>Tidak Bermula dan Tidak Berakhir dengan Berita</li>
                        <ol>
                            <li>Situs web: tidak ada</li>
                            <li>Facebook group</li>
                            <li>Twitter: @doc_media (pantauan) | @ursulatumiwa | @ucu_agustin</li>
                            <li>Ushaidi SMS ketik TBD Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Akumassa</li>
                        <ol>
                            <li>Situs web: http://akumassa.org/</li>
                            <li>Facebook: http://www.facebook.com/home.php?#!/akumassa.org</li>
                            <li>Twitter: @akumassa (pantauan) | @andangkelana | @forumlenteng | @DongengRangkas</li>
                            <li>Ushaidi SMS ketik AKM Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Next Generation</li>
                        <ol>
                            <li>Situs web: nxgindonesia.org</li>
                            <li>Facebook: http://www.facebook.com/pages/Next-Generation/284334284934591</li>
                            <li>Twitter: @nxgindonesia (pantauan)</li>
                            <li>Ushaidi SMS ketik NG Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Lentera Timur</li>
                        <ol>
                            <li>Situs web: http://lenteratimur.com/</li>
                            <li>Facebook: http://www.facebook.com/groups/190859517620432/</li>
                            <li>Twitter: @Lenteratimurcom (pantauan)</li>
                            <li>Ushaidi SMS ketik LT Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>AJI Banda Aceh: Media Sehat</li>
                        <ol>
                            <li>Situs web: http://mediasehat.ajibanda.org/</li>
                            <li>Facebook: facebook.com/ajibanda</li>
                            <li>Twitter: @aji_banda (pantauan)</li>
                            <li>Ushaidi SMS ketik MSA Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>ALDP Papua</li>
                        <ol>
                            <li>Situs web: http://aldp-papua.com</li>
                            <li>Facebook: http://www.facebook.com/aldp.papua</li>
                            <li>Twitter: @aldp_papua (pantauan)</li>
                            <li>Ushaidi SMS independen via situs ALDP pesan dikirim ke 081248832223 (pantauan)</li>
                        </ol>
                    <br/>
                    <li>Amboina Cyber Society</li>
                        <ol>
                            <li>Situs web: http://www.malukusatumedia.com/tag/amboina-cyber-society/, ACS</li>
                            <li>Facebook: http://www.facebook.com/pages/Maluku-Satu-Media/275959929096357</li>
                            <li>Twitter: @acsproject (pantauan), @MalukuSatuMedia</li>
                            <li>Ushaidi SMS ketik ACS Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Human Right Blog</li>
                        <ol>
                            <li>Situs web: http://hamblogger.org/</li>
                            <li>Facebook: tidak ada</li>
                            <li>Twitter: @idhamblogger (pantauan)</li>
                            <li>Ushaidi SMS ketik HAM Lokasi Pesan kirim ke 0877 8880 2262/li>
                        </ol>
                    <br/>
                    <li>Kartunet.com</li>
                        <ol>
                            <li>Situs web: http://www.kartunet.com/</li>
                            <li>Facebook: http://www.facebook.com/kartunet</li>
                            <li>Twitter: @Kartunet (pantauan) | @DimasMuharam | @kartunetcom | @KarForum</li>
                            <li>Ushaidi SMS ketik KTN Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Video untuk Perdamaian</li>
                        <ol>
                            <li>Situs web: http://www.6211.tv/map/</li>
                            <li>Facebook: tidak ada</li>
                            <li>Twitter: @Perkumpulan6211 (pantauan)</li>
                            <li>Ushaidi SMS ketik VP Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Skema Pendanaan dan Strategi Sumber Daya Media Komunitas// PIRAC</li>
                        <ol>
                            <li>Situs web: www.fundraisingmedia.info</li>
                            <li>Facebook: http://www.facebook.com/FundraisingMedia</li>
                            <li>Twitter: @FundMedia</li>
                            <li>Ushaidi SMS ketik PRC Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>MK-160: Media Komunitas 160 Karakter</li>
                        <ol>
                            <li>Situs web: tidak ada</li>
                            <li>Facebook: tidak ada</li>
                            <li>Twitter: tidak ada</li>
                            <li>Ushaidi SMS ketik MK Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Hpku-Teman Belajarku</li>
                        <ol>
                            <li>Situs web: http://videoguruku.net/</li>
                            <li>Facebook: tidak ada</li>
                            <li>Twitter: tidak ada</li>
                            <li>Ushaidi SMS ketik HP Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Bhinneka (Majalah)</li>
                        <ol>
                            <li>Situs web: http://lembagabhinneka.org/</li>
                            <li>Facebook: www.facebook.com/lembaga.bhinneka</li>
                            <li>Twitter: @lembagabhinneka</li>
                            <li>Ushaidi SMS ketik BNK Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                    <br/>
                    <li>Pantau</li>
                        <ol>
                            <li>Situs web: http://www.pantau.or.id/</li>
                            <li>Facebook: http://www.facebook.com/yayasan.pantau</li>
                            <li>Twitter: @Yayasan_Pantau</li>
                            <li>Ushaidi SMS ketik PNT Lokasi Pesan kirim ke 0877 8880 2262</li>
                        </ol>
                </ol>
            </div>
            <div id="petunjuk" class="tab-pane fade">
                <br/>
                <h1>Petunjuk dan Arahan</h1>
                <h2>Siapa Saja Yang Boleh Ikut?</h2>
                <p>Cipta Media Bersama terbuka untuk umum, individu atau organisasi yang mampuÂ memunculkan ide baru dan segar dalam praktek bermedia yang mampu membuat perbaikan media di Indonesia.
<br/>
Hibah akan dianugrahkan pada proposal-proposal yang kuat mendukung salah satu dari empat topik dan masuk dalam beberapa kategori yang disyaratkan.</p>
                <h2>Kenapa Harus Ikutan?</h2>
                Karena kamu:
                <ul>
                    <li>Punya ide baru dan segar, serta mampu berkontribusi membuat perbaikan terhadap keadaan media di Indonesia.</li>
                    <li>Punya inisiatif dan ketertarikan dalam bidang teknologi dan membuat terobosan agar media dapat dimanfaatkan secara tepat guna, adil dan merata.</li>
                    <li>Punya kemampuan memobilisasi massa dan memiliki kelompok-kelompok pendukung dengan ide baik dan terbuka untuk berkontribusi dalam empat topik Cipta Media Bersama.</li>
                    <li>Punya inisiatif media yang terbukti berhasil dan membutuhkan dana lebih untuk diterapkan ulang di lokasi yang lebih luas.</li>
                    <li>Memiliki kemampuan, dukungan kelompok lain, namun perlu tambahan dana untuk mengembangkannya.</li>
                </ul>
                <h2>Bagaimana Cara Ikutan?</h2>
                <p>Silahkan masuk ke menu Aplikasi Hibah disini atau download aplikasi dalam format DOC / PDF. Kirimkan formulir yang telah diisi ke info@ciptamedia.org</p>
            </div>
            
        </div>
    
    </div>
  </div>

</div>
