---
title: Tim Kami
layout: info
---


<div class="container" style="margin-top: 30px;">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="tentang.tentang">Tim Kami</span></h1>
        </div>
    </div>

    <div class="row">
        <br/>
        {% for timcmb in site.data.timcmb %}
        {% assign counter = counter | plus: 1 %}
        <div class="col-md-3">

            <div class="row">
                <!-- Card Projects -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-image">
                            <img class="img-responsive center-block" src="{{ timcmb.foto }}">
                        </div>
                        
                        <div class="card-content">
                            <h2>{{ timcmb.name }}</h2>
                            <br/>
                            {% for timcmb in timcmb.posisi %}
                                <h4>{{ timcmb }}</h4>
                            {% endfor %}
                            <hr>
                            {{ timcmb.bio | truncatewords:20 }}
                            <hr>
                            <a data-toggle="modal" data-target="#{{ timcmb.name | remove: " " }}">selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div id="{{ timcmb.name | remove: " " }}" class="modal fade" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ timcmb.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-responsive center-block" src="{{ timcmb.foto }}">
                            </div>
                            <div class="col-sm-8">
                                <p>{{ timcmb.bio }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                    </div>
                </div>

            </div>
        </div>
            {% assign ifindex = counter | modulo: 4 %}
            {% if ifindex == 0 %}
                <div class="clearfix visible-md visible-lg"></div>
            {% endif %}
        {% endfor %}
    </div>

</div>
