---
title: Arsip Cipta Media
layout: info
---

<section id="header">
    <div class="container">
	   <div class="row">
            <div class="col-lg-12 text-center">
                <h1><span data-i18n="proyek.proyek">Proyek Terdahulu</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/landing/buruh.jpg">
                    </div>
                    <div class="card-body">
                        <h1>Cipta Media Seluler</h1>
                        <h2>Teknologi seluler untuk perubahan sosial</h2>
                        <p>Cipta Media Seluler adalah hibah terbuka yang mengajak individu, komunitas, atau organisasi memunculkan inisiatif-inisiatif untuk perubahan sosial yang lebih adil melalui penggunaan teknologi seluler. Hibah terbuka ini menyediakan dukungan dana sebesar 750 ribu dolar AS bagi inisiatif-inisiatif teknologi seluler terbaik yang dapat dimodifikasi dan dicontoh untuk diterapkan di daerah lain.</p>
                        <hr>
                        <a class="btn btn-danger" href="/ciptamediaseluler/tentangcms.html">Tentang CMS</a>
                        <a class="btn btn-danger" href="/ciptamediaseluler/proses.html">Proses Hibah</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/landing/23_1_4-Photo.jpg">
                    </div>
                    <div class="card-body">
                        <h1>Cipta Media Bersama</h1>
                        <h2>Meretas batas – kebhinekaan bermedia</h2>
                        <p>Cipta Media Bersama adalah hibah terbuka yang mengajak individu atau organisasi memunculkan ide baru dan segar dalam praktek bermedia yang mampu membuat perbaikan media di Indonesia. Hibah terbuka ini menyediakan dukungan sebesar satu juta dolar AS bagi inisiatif-inisiatif yang dapat menjadi contoh praktek terbaik dalam kebhinekaan, kesetaraan, kebebasan dan etika bermedia.</p>
                        <hr>
                        <a class="btn btn-danger" href="/ciptamediabersama/tentangcmb.html">Tentang CMB</a>
                        <a class="btn btn-danger" href="/ciptamediabersama/proses.html">Proses Hibah</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <h1>Kalender Aktifitas</h1>
            </div>
        </div>
        <div id="calendar" class="calendar"></div>
        <script>
        $(function() {
            var currentYear = new Date().getFullYear();

            $('#calendar').calendar({
                enableContextMenu: true,
                clickDay: function(e) {
                    if(e.events.length > 0) {
                        var content = '';

                        for(var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                            + '<a href="' + e.events[i].url + '"><div class="event-name" style="color:' + e.events[i].color + '"><h4>' + e.events[i].name + '</h4></div>'
                                            + '<div class="event-location"><h5>' + e.events[i].location + '</h5></div></a>'
                                            + '<hr>'
                                        + '</div>';
                        }

                        var popover = $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html:true,
                            content: content,
                            placement: 'bottom'
                        });

                        var popover =  $(e.element).data('bs.popover').tip();
                        var alreadyVisible = false;
                        $('div.popover:visible').each(function() {
                            if($(this).get(0) == popover.get(0)) {
                                alreadyVisible = true;
                            }
                            else {
                                $(this).hide();
                            }
                        });

                        if(!alreadyVisible) {
                            $(e.element).popover('show');
                        }
                    }
                },

                dataSource: [
                {% for post in site.categories['laporan'] %}
                    {
                        name: '{{ post.title }}',
                        location: '{{ post.categories | last }}',
                        url: '{{ post.url }}',
                        startDate: new Date({{ post.date | date: "%Y" }}, {{ post.date | date: "%m" | minus: 1 }}, {{ post.date | date: "%d" }}),
                        endDate: new Date({{ post.date | date: "%Y" }}, {{ post.date | date: "%m" | minus: 1 }}, {{ post.date | date: "%d" }}),
                    },
                {% endfor %}
                ]
            });

            $('[data-toggle="popover"],[data-original-title]').popover();

            $(document).on('click', function(e) {
                $('[data-toggle="popover"],[data-original-title]').each(function() {
                if (!$(this).is(e.element) && $(this).has(e.element).length === 0 && $('.popover').has(e.events).length === 0) {
                  $(this).popover('hide').data('bs.popover').inState.click = false
                }

                });
            });
        });
        </script>
        <div class="row text-center">
            <div class="col-lg-12">
                <h1>Artikel Terbaru</h1>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts%}
	    {% unless post.categories contains 'laporan' %}
        {% assign counter = counter | plus: 1 %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="{{ post.img }}" class="img-responsive center-block" style="max-height:120px">
                    </div>
                    <div class="col-xs-8">
                        <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
                        <i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
                        <p>{{ post.content | strip_html | truncatewords:20 }}</p>
                    </div>
                </div>
                <hr>
            </div>
        {% if counter == 8 %}
        {% break %}
        {% endif %}
        {% endunless %}
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="{{ "/blog/" | prepend: site.baseurl }}">Artikel Lainnya</a>
            </div>
        </div>
    </div>
</section>
