---
title: Formulir Aplikasi Hibah Cipta Media Ekspresi
layout: info
---

    <style>
        .form-group.required .control-label:after {
          content:"*";
          color:red;
        }   
    </style>

    <script>
        $(document).ready(function(){
            $("#show-tata").click(function(){
                $("#disclaimer").hide();
                $("#kriteria").hide();
                $("#tata-cara").fadeIn();
            });
            $("#show-disc").click(function(){
                $("#kriteria").hide();
                $("#tata-cara").hide();
                $("#disclaimer").fadeIn();
            });
            $("#show-krit").click(function(){
                $("#disclaimer").hide();
                $("#tata-cara").hide();
                $("#kriteria").fadeIn();
            });
            $("#show-tata-back").click(function(){
                $("#disclaimer").hide();
                $("#kriteria").hide();
                $("#tata-cara").fadeIn();
            });
            $("#show-form").click(function(){
                $("#disclaimer").hide();
                $("#tata-cara").hide();
                $("#kriteria").hide();
                $("#formulir").fadeIn();
            });
        });
    </script>

	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row" id="disclaimer">
            <div class="col-md-12">
                <h2 class="text-center">Disclaimer</h2>
                <h3>1. Pemohonon hibah</h3>
                <p>Hibah untuk [[siapa saja yang mengaku perempuan|:Karya]] dan berusia di atas 18 tahun (pada 21 April 2018). Kesempatan dibuka bagi baik yang berkewarganegaraan Indonesia ataupun bukan. Peserta yang bukan warga negara Indonesia harus memenuhi syarat sudah bekerja aktif di kalangan kebudayaan di Indonesia selama paling tidak lima tahun.</p>
                <br>
                <h3>2. Transparansi</h3>
                <p>Seluruh permintaan hibah Cipta Media Ekspresi yang masuk via formulir daring maupun cetak terbuka dan transparan untuk dilihat publik. Anda harus berasumsi bahwa informasi ini terekam selama-lamanya di internet dan panitia tidak bisa menghapusnya. Tujuan membuka informasi pendaftaran adalah untuk mendapatkan masukan bagi proyek Anda. Informasi pendaftaran terbuka berarti publik dapat mengakses dan menanggapi.</p>
                <p>Untuk permintaan hibah yang sensitif dan mungkin membahayakan pemohon hibah apabila dibuka publik akan dipertimbangkan oleh panitia untuk tertutup saat permintaan hibah yang dianggap sensitif masuk (case-by-case basis)</p>
                <br>
                <h3>3. Lisensi</h3>
                <p>Lisensi hak cipta yang digunakan untuk seluruh hibah baik dari pendaftaran hingga pelaksanaan oleh penerima hibah adalah [[Creative Commons CC-BY 4.0 | https://creativecommons.org/licenses/by/4.0/deed.id ]]. Secara sederhana pemegang hak cipta yang menggunakan lisensi ini memperbolehkan pengguna ciptaannya untuk berbagi dan mengadaptasi ciptaannya berdasarkan ketentuan.</p>
                <br>
                <h3>4. Permintaan hibah tidak layak</h3>
                <p>Duplikat/ tidak patut/ tidak terkait seni dan budaya</p>
                <p>Satu nama pemohon hanya boleh mengisi satu permintaan hibah, lebih dari satu maka permintaan hibah dianggap duplikat dan permintaan selanjutnya akan langsung ditolak. Penolakan langsung oleh panitia juga akan dilakukan oleh permohonan hibah yang tidak pantas/ tidak sopan/ ataupun tidak terkait dengan permohonan untuk upaya seni dan budaya.</p>
                <br>
                <h3>5. Alur waktu</h3>
                <p>Pendaftaran hibah ditutup pada hari Minggu, 25 Maret 2018 mendekati tengah malam (23:00), seluruh permohonan hibah baik daring maupun cetak harus sudah diterima panitia sebelum batas ini atau tidak akan dipertimbangkan oleh juri. Klik [[linimasa|:linimasa hibah]] untuk lebih jelasnya. Disarankan untuk mengirim formulir seawal mungkin, ada kecenderungan penumpukkan permohonan pada akhir tanggal hibah (menunda-nunda) dan kualitas pertimbangan tim juri bisa jadi turun apabila angka yang harus dipertimbangkan naik karena juri juga manusia.</p>
            </div>
            <div class="col-md-4 col-md-offset-4 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="show-tata">Selanjutnya</a>
            </div>
        </div>
        <div class="row" id="tata-cara" hidden>
            <div class="col-md-12">
                <h2 class="text-center">Tata cara permohonan hibah: mengisi dan mengirimkan formulir</h2>
                <p>Pemohon hibah harus mengisi dan mengirimkan formulir daring (online) berupa rancangan konsep proyek/ rencana mereka. Setelah diisi pemohon hibah akan mendapatkan pratayang dari hasil isian mereka, apabila puas, kirimkan, apabila ada perubahan silahkan isi kembali formulir Anda. Kolom komentar disediakan untuk diisi secara bebas, baik pranala hasil karya, komentar, maupun permintaan untuk mengubah sedikit isi yang sekiranya tidak berkenan pada panitia. Kolom pemuatan dapat diisi karya (ilustrasi/audio/video) maupun foto pemohon.</p>
                <p>Formulir cetak (offline) hanya diperuntukkan bagi pemohon hibah dimana jaringan internet/ data sulit, formulir cetak yang dikirimkan dari kota besar dimana jaringan internet baik, tidak akan dipertimbangkan. Formulir bisa dikembalikan kepada panitia via Pos dengan melampirkan CD/ berkas hasil karya. Unduh formulir anda di[[sini]] atau minta formulir dikirimkan dengan mengirim alamat ke:info@ciptamedia.org atau kontak via SMS/WA ke:masukkan nomor</p>
                <p>Panitia akan menayangkan permohonan hibah yang masuk pada situs web Cipta Media Ekspresi sebelum dinilai oleh tim juri. Permohonan hibah yang tidak tayang berarti tidak lolos akan penilaian [[panitia]] untuk dinilai tim juri.</p>
                <p>Panitia membutuhkan waktu 1x24 jam untuk menyaring permohonan yang masuk dari duplikat/ kepatutan/ keterkaitan seni dan budaya dan menayangkannya pada situs Cipta Media Ekspresi.</p>
                <p>Untuk pertanyaan-pertanyaan lain yang tidak dapat diketemukan pada halaman syarat dan ketentuan, silahkan merujuk pada halaman [[Pertanyaan Umum]]</p>
            </div>
            <div class="col-md-3 col-md-offset-3 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="show-disc">Sebelumnya</a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="show-krit">Selanjutnya</a>
            </div>
        </div>
        <div class="row" id="kriteria" hidden>
            <div class="col-md-12">
                <h2 class="text-center">Kriteria penentuan hibah</h2>
                <p>Kriteria penentuan siapa yang menerima hibah oleh tim juri dikembangkan dari kritik terhadap praktik kesenian yang mempergunakan ukuran-ukuran yang berpihak pada lelaki dalam menetapkan kualitas dan nilai suatu karya.</p>
                <p>Kriteria berikut digunakan untuk menilai pemohon mendapatkan hibah mereka dengan ukuran apakah upaya seni budaya mereka dapat:</p>
                <ol style="font-size: 15px; line-height: 26px">
                    <li>menarik jenis penonton/pemirsa yang lebih beragam</li>
                    <li>menawarkan sudut pandang baru dalam melihat karya perempuan yang selama ini tidak diakui sehingga dapat memperkaya keragaman dunia seni budaya</li>
                    <li>mempersoalkan norma dan paham dominan yang membatasi waktu atau kesempatan perempuan untuk menghasilkan karya atau terlibat di dalam kegiatan seni budaya</li>
                    <li>membuka kerjasama/kolaborasi lintas budaya di antara sesama perempuan atau mendorong terciptanya pemahaman terhadap praktik budaya yang beragam</li>
                    <li>memajukan dialog yang lebih luas dan mendalam mengenai gagasan dan praktik budaya di antara perempuan yang berbeda generasi</li>
                </ol>
            </div>
            <div class="col-md-3 col-md-offset-3 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="show-tata-back">Sebelumnya</a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="show-form">Formulir Pendaftaran</a>
            </div>
        </div>
        <div class="row" id="formulir" hidden>
            <div class="col-lg-12">
                <form class="form-horizontal" name="daftar" netlify-honeypot="bot-field" action="/terima-kasih.html" netlify>
                    <div class="form-group">
                        <p class="hidden">
                            <label>Don’t fill this out: <input name="bot-field"></label>
                        </p>
                    </div>
                    <br>
                    <h3>Identitas</h3>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">No. KTP</label>
                        <div class="col-md-10">
                            <input type="number" name="ktp" class="form-control" id="ktp" placeholder="Masukan nomor identitas Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">Nama Lengkap</label>
                        <div class="col-md-10">
                            <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukan nama lengkap Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="kota">Lokasi (Kabupaten / Kota)</label>
                        <div class="col-md-10">
                            <input type="text" name="kota" class="form-control" id="kota" placeholder="Masukan nama kabupaten/kota tempat tinggal Anda">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="telp">No. Telpon</label>
                        <div class="col-md-10">
                            <input type="number" name="telp" class="form-control" id="telp" placeholder="Masukan nomor telpon / telpon genggam Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="email">Surel</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Masukan surel Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="foto">Foto Diri</label>
                        <div class="col-md-10">
                                <input type="file" class="btn btn-default" name="foto" id="foto" multiple>
                                <div class="input-group"> 
                                    <input type="text" readonly="" class="form-control" placeholder="Masukan foto Anda dengan klik di sini"> 
                                    <span class="input-group-btn input-group-sm"> 
                                        <button type="button" class="btn btn-fa btn-round"> 
                                            <i class="material-icons">attach_file</i> 
                                         </button>
                                    </span> 
                                </div>
                        </div>
                    </div>
                    <br>
                    <h3>Riwayat Berkarya</h3>
                    <hr>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Seni yang Anda Tekuni</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                    <li><input id="pertunjukan" type="radio" name="seni" value="seni-pertunjukan"><label for="pertunjukan"> Seni Pertunjukan</label></li>
                                    <li><input id="rupa" type="radio" name="seni" value="seni-rupa"><label for="rupa"> Seni Rupa</label></li>
                                    <li><input id="musik" type="radio" name="seni" value="musik"><label for="musik"> Musik</label></li>
                                    <li><input id="kriya" type="radio" name="seni" value="kriya"><label for="kriya"> Kriya</label></li>
                                    <li><input id="sastra" type="radio" name="seni" value="sastra"><label for="sastra"> Sastra Tertulis / Lisan</label></li>
                                    <li><input id="film" type="radio" name="seni" value="audiovisual"><label for="film"> Film / Audiovisual</label></li>
                                    <li><input id="kuliner" type="radio" name="seni" value="kuliner"><label for="kuliner"> Kuliner</label></li>
                                    <li><input id="penelitian" type="radio" name="seni" value="penelitian"><label for="penelitian"> Penelitian</label></li>
                                    <li><input id="kuratorial" type="radio" name="seni" value="kuratorial"><label for="kuratorial"> Kuratorial</label></li>
                                    <li><input id="lainnya" type="radio" name="seni" value="lainnya"><label for="lainnya"> Lainnya</label></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="pengalaman">Pengalaman Berkarya</label>
                        <div class="col-md-10">
                            <input type="text" name="pengalaman" class="form-control" id="pengalaman" placeholder="Berapa lama Anda sudah berkarya (contoh: 3 tahun / 6 bulan / baru memulai)" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="website">Situs Web / Blog</label>
                        <div class="col-md-10">
                            <input type="text" name="website" class="form-control" id="website" placeholder="Masukan situs atau blog yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="sosmed">Media Sosial</label>
                        <div class="col-md-10">
                            <input type="text" name="sosmed" class="form-control" id="sosmed" placeholder="Masukan media sosial yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="file">Contoh Karya</label>
                        <div class="col-md-10">
                                <input type="file" class="btn btn-default" name="file" id="file" multiple>
                                <div class="input-group"> 
                                    <input type="text" readonly="" class="form-control" placeholder="Contoh karya yang diunggah dapat berbentuk citra visual atau audiovisual dengan ukuran tidak lebih dari 5MB"> 
                                    <span class="input-group-btn input-group-sm"> 
                                        <button type="button" class="btn btn-fa btn-round"> 
                                            <i class="material-icons">attach_file</i> 
                                         </button>
                                    </span> 
                                </div>
                        </div>
                    </div>
                    <br>
                    <h3>Proyek</h3>
                    <hr>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
                      <div class="col-md-10">
                        <input type="text" name="proyek" class="form-control" id="proyek" placeholder="Masukan nama proyek Anda" required="true">
                      </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea name="deskripsi" class="form-control" rows="5" id="deskripsi" placeholder="Ceritakan proyek yang akan Anda kembangkan" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="kategori">Kategori</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                  <li><input id="mobilitas" type="radio" name="kategori" value="mobilitas-perjalanan"><label for="mobilitas"> Mobilitas / Perjalanan</label></li>
                                  <li><input id="kolaborasi" type="radio" name="kategori" value="kolaborasi"><label for="kolaborasi"> Kolaborasi</label></li>
                                  <li><input id="lintas-generasi" type="radio" name="kategori" value="lintas-generasi"><label for="lintas-generasi"> Lintas Generasi</label></li>
                                  <li><input id="riset-kuratorial" type="radio" name="kategori" value="riset-kuratorial"><label for="riset-kuratorial"> Riset / Kuratorial</label></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="latar-belakang">Latar Belakang Proyek</label>
                        <div class="col-md-10">
                            <textarea name="latar-belakang" class="form-control" rows="5" id="latar-belakang" placeholder="Jabarkan latar belakang hibah Anda dengan lugas, sigkat dan jelas" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <select name="durasi" class="form-control" id="durasi" placeholder="Berapa lama Anda proyek Anda akan berjalan" required="true">
                                <option>1 bulan</option>
                                <option>2 bulan</option>
                                <option>3 bulan</option>
                                <option>4 bulan</option>
                                <option>5 bulan</option>
                                <option>6 bulan</option>
                                <option>7 bulan</option>
                                <option>8 bulan</option>
                                <option>9 bulan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="sukses">Indikator Sukses</label>
                        <div class="col-md-10">
                            <textarea name="sukses" class="form-control" rows="5" id="sukses" placeholder="Jelaskan ukuran keberhasilan proyek Anda" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="dana">Dana Hibah</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="number" name="dana" class="form-control" id="dana" placeholder="Masukan jumlah dana yang diminta" required="true">
                            </div>
                            <small>Jumlah dana hibah harus realistis dan secara konsisten menunjukkan biaya atas apa yang ingin dilakukan, berapa jumlah orang yang akan melakukannya, serta mencerminkan rentang waktu (lama) aktifitas.</small>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <h4><font color="red"><b>*</b></font> Wajib diisi</h4>
                    </div>
                    <div class="form-group"> 
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn">Kirim</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
