---
title: Formulir Pendaftaran Hibah Cipta Media Ekspresi
layout: info
---

    <script>
      $( function() {
        var propinsi2 = [
          {
            value: "Q1823",
            label: "Aceh",
            desc: "Propinsi",
          },
          {
            value: "Q1866",
            label: "Kepulauan Bangka Belitung",
            desc: "Propinsi",
          },
          {
            value: "Q1890",
            label: "Bengkulu",
            desc: "Propinsi",
          },
          {
            value: "Q2051",
            label: "Jambi",
            desc: "Propinsi",
          },
          {
            value: "Q2110",
            label: "Lampung",
            desc: "Propinsi",
          },
          {
            value: "Q2140",
            label: "Sumatra Utara",
            desc: "Propinsi",
          },
          {
            value: "Q2175",
            label: "Riau",
            desc: "Propinsi",
          },
          {
            value: "Q2223",
            label: "Kepulauan Riau",
            desc: "Propinsi",
          },
          {
            value: "Q2271",
            label: "Sumatra Selatan",
            desc: "Propinsi",
          },
          {
            value: "Q2772",
            label: "Sumatra Barat",
            desc: "Propinsi",
          },
          {
            value: "Q3540",
            label: "Banten",
            desc: "Propinsi",
          },
          {
            value: "Q3557",
            label: "Jawa Tengah",
            desc: "Propinsi",
          },
          {
            value: "Q3586",
            label: "Jawa Timur",
            desc: "Propinsi",
          },
          {
            value: "Q3630",
            label: "DKI Jakarta",
            desc: "Propinsi",
          },
          {
            value: "Q3724",
            label: "Jawa Barat",
            desc: "Propinsi",
          },
          {
            value: "Q3741",
            label: "DI Yogyakarta",
            desc: "Propinsi",
          },
          {
            value: "Q3891",
            label: "Kalimantan Tengah",
            desc: "Propinsi",
          },
          {
            value: "Q3899",
            label: "Kalimantan Timur",
            desc: "Propinsi",
          },
          {
            value: "Q3903",
            label: "Kalimantan Utara",
            desc: "Propinsi",
          },
          {
            value: "Q3906",
            label: "Kalimantan Selatan",
            desc: "Propinsi",
          },
          {
            value: "Q3916",
            label: "Kalimantan Barat",
            desc: "Propinsi",
          },
          {
            value: "Q5061",
            label: "Nusa Tenggara Timur",
            desc: "Propinsi",
          },
          {
            value: "Q5062",
            label: "Nusa Tenggara Barat",
            desc: "Propinsi",
          },
          {
            value: "Q5065",
            label: "Sulawesi Tengah",
            desc: "Propinsi",
          },
          {
            value: "Q5067",
            label: "Gorontalo",
            desc: "Propinsi",
          },
          {
            value: "Q5068",
            label: "Sulawesi Utara",
            desc: "Propinsi",
          },
          {
            value: "Q5075",
            label: "Sulawesi Tenggara",
            desc: "Propinsi",
          },
          {
            value: "Q5078",
            label: "Sulawesi Selatan",
            desc: "Propinsi",
          },
          {
            value: "Q5082",
            label: "Sulawesi Barat",
            desc: "Propinsi",
          },
          {
            value: "Q5093",
            label: "Maluku",
            desc: "Propinsi",
          },
          {
            value: "Q5094",
            label: "Maluku Utara",
            desc: "Propinsi",
          },
          {
            value: "Q5095",
            label: "Papua",
            desc: "Propinsi",
          },
          {
            value: "Q5096",
            label: "Papua Barat",
            desc: "Propinsi",
          },
          {
            value: "Q3125978",
            label: "Bali",
            desc: "Propinsi",
          },
        ];
        $( "#propinsi" ).autocomplete({
          minLength: 0,
          source: propinsi2,
          focus: function( event, ui ) {
            $( "#propinsi" ).val( ui.item.label );
            return false;
          },
          select: function( event, ui ) {
            $( "#propinsi" ).val( ui.item.label );
            $( "#propinsi-id" ).val( ui.item.value );
            $( "#propinsi-description" ).html( ui.item.desc );

            return false;
          }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
          return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
        };
      });
    $(document).ready(function() {
        $("#start-test").click(function(){
            $("#disclaimer").hide();
            $("#formulir-isi").fadeIn();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
        $("#formpass").validate();
        $('#preview').click(function() {
            $("#formpass").valid();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            if($("#formpass").valid()){
                $("#formulir").show();
                $("#preview-title").show();
                $("#og-title").hide();
                $("#formulir-isi").hide();
                $("#preview_ktp").val( $("#ktp").val() );
                $("#preview_nama").val( $("#nama").val() );
                $("#preview_propinsi").val( $("#propinsi").val() );
                $("#wikidata").val( $("#propinsi-id").val() );
                $("#preview_telp").val( $("#telp").val() );
                $("#preview_email").val( $("#email").val() );
                $("#preview_seni").val( $("input[name=seni]:checked").val() );
                $("#preview_pengalaman").val( $("#pengalaman").val() );
                $("#preview_website").val( $("#website").val() );
                $("#preview_sosmed").val( $("#sosmed").val() );
                $('#filename').val( $('input[name=file]').val() );
                $("#preview_proyek").val( $("#proyek").val() );
                $("#preview_deskripsi").val( $("#deskripsi").val() );
                $("#preview_kategori").val( $("input[name=kategori]:checked").val() );
                $("#preview_latarbelakang").val( $("#latar-belakang").val() );
                $("#preview_masalah").val( $("#masalah").val() );
                $("#preview_durasi").val( $( "#durasi option:selected" ).text() );
                $("#preview_dana").val( $("#dana").val() );
                $("#preview_sukses").val( $("#sukses").val() );
            };
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewfoto').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#foto").change(function(){
            readURL(this);
        });
        /* back button */
        $("#kembali").click(function(){
                $("#preview-title").hide();
                $("#formulir").hide();
                $("#og-title").show();
                $("#formulir-isi").show();
        });
    });
    </script>

    <style>
        .form-group.required .control-label:after {
          content:"*";
          color:red;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: white;
        }
        * html .ui-autocomplete {
            height: 100px;
        }
        .ui-helper-hidden-accessible {
            display:none;
        }
    </style>

	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" id="og-title">
                <h1>{{ page.title }}</h1>
                <h2>Halaman ini adalah halaman uji coba untuk formulir pendaftaran Cipta Media Ekspresi</h2>
            </div>
            <div class="col-lg-12 text-center" id="preview-title" hidden>
                <h1>Pratinjau Formulir Pendaftaran</h1>
                <h2>Silakan periksa kembali data yang Anda masukkan. Apabila sudah benar, klik tombol Konfirmasi di bawah.</h2>
            </div>
        </div>
        <div class="row" id="disclaimer">
            <div class="col-lg-12">
                <h3>Cipta Media Ekspresi adalah hibah terbuka untuk seniman perempuan yang akan diluncurkan pada Januari 2018.</h3>
                <h3>Kami membutuhkan orang-orang yang dapat memberikan umpan balik dan saran akan aspek teknis dan non-teknis dari formulir ini.</h3>
                <h3>Yang diperlukan untuk menjadi pengetes formulir online ini hanyalah jaringan internet dan penjelajah web, baik melalui telepon genggam ataupun komputer.</h3>
                <h3>Hal-hal yang perlu diperhatikan sebelum mengisi formulir:</h3>
                <ol style="font-size: 26px">
                    <li><h3>Harap perhatikan perangkat (HP, laptop, dll) dan penjelajah web (Firefox, Safari, Internet Explore, Chrome, dll) mana yang Anda gunakan untuk dilaporkan sebagai umpan balik.</h3></li>
                    <li><h3>Mohon dicatat juga berapa menit waktu yang dibutuhkan untuk membuka formulir, mengunggah gambar, dan mengisi formulir hingga selesai.</h3></li>
                    <li><h3>Siapkan foto diri (.jpg atau .png, dll) dan satu berkas (dalam format gambar, teks, video, dll).</h3></li>
                    <li><h3>Harap mengisi formulir pendaftaran Hibah Cipta Media Ekspresi seakan-akan Anda sedang mengajukan proyek hibah. Isian formulir tidak perlu sempurna, namun diharapkan Anda dapat mengarang sebuah proyek fiktif untuk dituliskan. Jangan mengisi fomulir hanya dengan teks sembarang.</h3></li>
                    <li><h3>Apabila sudah selesai mengisi, harap menghubungi kami kembali. Kami akan memberikan form umpan balik yang harus Anda isi.</h3></li>
                    <li><h3>Setelah berhasil terkirim, Anda akan menerima pulsa sebesar Rp.50.000,- sebagai tanda terima kasih.</h3></li>
                    <li><h3>Harap diperhatikan bahwa pranala yang diberikan untuk tester adalah <b>rahasia</b> dan <b>tidak boleh disebarluaskan</b> karena masih dalam fase percobaan.</h3></li>
                </ol>
                <div class="col-md-4 col-md-offset-4 text-center">
                    <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="start-test">Mulai Uji Coba</a>
                </div>
            </div>
        </div>
        <div class="row" id="formulir-isi" hidden>
            <div class="col-lg-12">
                <form class="form-horizontal" id="formpass" name="formulir-pendaftaran" netlify-honeypot="bot-field" action="/terima-kasih.html" netlify>
                    <h3>Identitas</h3>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">No. KTP / No. Passport</label>
                        <div class="col-md-10">
                            <input type="text" name="ktp" class="form-control" id="ktp" placeholder="Masukkan nomor KTP atau Nomor Passpor apabila Anda WNA" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">Nama Lengkap</label>
                        <div class="col-md-10">
                            <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukan nama lengkap Anda" required="true">
                        </div>
                    </div>
                    <div class="ui-widget form-group required">
                        <label class="control-label col-md-2" for="propinsi">Provinsi</label>
                        <div class="col-md-10">
                          <input type="text" name="propinsi" class="form-control" id="propinsi" placeholder="Provinsi dimana Anda tinggal" required="true">
                          <input type="text" name="propinsi-id" id="propinsi-id" hidden>
                          <p id="project-id"></p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="telp">No. Telpon</label>
                        <div class="col-md-10">
                            <input type="number" name="telp" class="form-control" id="telp" placeholder="Nomor telpon / telpon genggam Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="email">Surel / Email</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Masukan surel / email Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="foto">Foto Diri</label>
                        <div class="col-md-10">
                            <input type="file" class="btn btn-default" name="foto" id="foto">
                            <div class="input-group"> 
                                <input type="text" readonly="" class="form-control" placeholder="Masukan foto Anda dengan klik di sini"> 
                                <span class="input-group-btn input-group-sm"> 
                                    <button type="button" class="btn btn-fa btn-round"> 
                                        <i class="material-icons">attach_file</i> 
                                     </button>
                                </span> 
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Riwayat Berkarya</h3>
                    <hr>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Seni yang Anda Tekuni</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                    <li><input id="pertunjukan" type="radio" name="seni" value="seni-pertunjukan"><label for="pertunjukan">Seni Pertunjukan</label></li>
                                    <li><input id="rupa" type="radio" name="seni" value="seni-rupa"><label for="rupa">Seni Rupa</label></li>
                                    <li><input id="musik" type="radio" name="seni" value="musik"><label for="musik">Musik</label></li>
                                    <li><input id="kriya" type="radio" name="seni" value="kriya"><label for="kriya">Kriya</label></li>
                                    <li><input id="sastra" type="radio" name="seni" value="sastra"><label for="sastra">Sastra Tertulis / Lisan</label></li>
                                    <li><input id="film" type="radio" name="seni" value="audiovisual"><label for="film">Film / Audiovisual</label></li>
                                    <li><input id="kuliner" type="radio" name="seni" value="kuliner"><label for="kuliner">Kuliner</label></li>
                                    <li><input id="penelitian" type="radio" name="seni" value="penelitian"><label for="penelitian">Penelitian</label></li>
                                    <li><input id="kuratorial" type="radio" name="seni" value="kuratorial"><label for="kuratorial">Kuratorial</label></li>
                                    <li><input id="lainnya" type="radio" name="seni" value="lainnya"><label for="lainnya">Lainnya</label></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="pengalaman">Pengalaman Berkarya</label>
                        <div class="col-md-10">
                            <input type="text" name="pengalaman" class="form-control" id="pengalaman" placeholder="contoh: 3 tahun / 6 bulan / baru memulai" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="website">Situs Web / Blog</label>
                        <div class="col-md-10">
                            <input type="text" name="website" class="form-control" id="website" placeholder="Masukan situs atau blog yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="sosmed">Media Sosial</label>
                        <div class="col-md-10">
                            <input type="text" name="sosmed" class="form-control" id="sosmed" placeholder="Masukan media sosial yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="file">Contoh Karya</label>
                        <div class="col-md-10">
                            <input type="file" class="btn btn-default" name="file" id="file" multiple>
                            <div class="input-group"> 
                                <input type="text" readonly="" class="form-control" placeholder="Contoh karya yang diunggah dapat berbentuk citra visual atau audiovisual dengan ukuran tidak lebih dari 5MB"> 
                                <span class="input-group-btn input-group-sm"> 
                                    <button type="button" class="btn btn-fa btn-round"> 
                                        <i class="material-icons">attach_file</i> 
                                     </button>
                                </span> 
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Proyek</h3>
                    <hr>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
                      <div class="col-md-10">
                        <input type="text" name="proyek" class="form-control" id="proyek" placeholder="Masukan nama proyek Anda" required="true">
                      </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea name="deskripsi" class="form-control" rows="5" id="deskripsi" placeholder="Ceritakan apa yang ingin Anda lakukan untuk proyek ini. (maksimal 200 kata)" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="kategori">Kategori</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                  <li><input id="akses" type="radio" name="kategori" value="akses"><label for="akses">Akses</label></li>
                                  <li><input id="perjalanan" type="radio" name="kategori" value="perjalanan"><label for="perjalanan">Perjalanan</label></li>
                                  <li><input id="kerjasama-kolaborasi" type="radio" name="kategori" value="kerjasama-kolaborasi"><label for="kerjasama-kolaborasi">Kerjasama / Kolaborasi</label></li>
                                  <li><input id="lintasgenerasi" type="radio" name="kategori" value="lintasgenerasi"><label for="lintasgenerasi">Lintas Generasi</label></li>
                                  <li><input id="riset-kajian-kuratorial" type="radio" name="kategori" value="riset-kajian-kuratorial"><label for="riset-kajian-kuratorial">Riset / Kajian / Kuratorial</label></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="latar-belakang">Latar Belakang Proyek</label>
                        <div class="col-md-10">
                            <textarea name="latar-belakang" class="form-control" rows="5" id="latar-belakang" placeholder="Ceritakan proses terbentuknya gagasan proyek Anda (maksimal 200 kata)" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="masalah">Masalah yang Diangkat</label>
                      <div class="col-md-10">
                        <textarea name="masalah" class="form-control" rows="5" id="masalah" placeholder="Ceritakan pokok pikiran permintaan hibah Anda / tema / masalah yang ingin Anda atasi. (maksimal 200 kata)" required="true"></textarea>
                      </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <select name="durasi" class="form-control" id="durasi" placeholder="Berapa lama Anda proyek Anda akan berjalan" required="true">
                                <option>1 bulan</option>
                                <option>2 bulan</option>
                                <option>3 bulan</option>
                                <option>4 bulan</option>
                                <option>5 bulan</option>
                                <option>6 bulan</option>
                                <option>7 bulan</option>
                                <option>8 bulan</option>
                                <option>9 bulan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="sukses">Indikator Sukses</label>
                        <div class="col-md-10">
                            <textarea name="sukses" class="form-control" rows="5" id="sukses" placeholder="Jelaskan ukuran keberhasilan proyek Anda" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="dana">Dana Hibah</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="number" name="dana" class="form-control" id="dana" placeholder="Masukan jumlah dana yang diminta" required="true">
                            </div>
                            <small>Jumlah dana hibah harus realistis dan secara konsisten menunjukkan biaya atas apa yang ingin dilakukan, berapa jumlah orang yang akan melakukannya, serta mencerminkan lama aktivitas.</small>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <h4><font color="red"><b>*</b></font> Wajib diisi</h4>
                    </div>
                    <div class="form-group"> 
                        <div class="col-lg-12 text-center">
                            <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">Selanjutnya</button>
                        </div>
                    </div>
                </form>        
            </div>
        </div>
        
        <div class="row" id="formulir" hidden>
            <div class="alert alert-danger">
                <div class="container-fluid">
                    <div class="alert-icon">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Peringatan:</b> Formulir Anda belum terkirim sampai Anda menekan tombol Konfirmasi
                </div>
            </div>
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <h3>Identitas</h3>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label col-md-2">No. KTP</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_ktp" id="preview_ktp">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2">Nama Lengkap</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_nama" id="preview_nama">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2">Provinsi</label>
                        <div class="col-md-10">
                          <input readonly class="form-control" name="preview_propinsi" id="preview_propinsi">
                          <input readonly class="form-control" name="wikidata" id="wikidata" style="display: none">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2">No. Telpon</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_telp" id="preview_telp">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2">Surel</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_email" id="preview_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="foto">Foto Diri</label>
                        <div class="col-md-10">
                            <img style="max-height: 200px" class="img-responsive" id="previewfoto" src="#" alt="Silahkan unggah foto Anda" />
                        </div>
                    </div>
                    <br>
                    <h3>Riwayat Berkarya</h3>
                    <hr>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Seni yang Anda Tekuni</label>
                            <div class="col-md-10">
                                <input readonly class="form-control" name="preview_seni" id="preview_seni">
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="pengalaman">Pengalaman Berkarya</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_pengalaman" id="preview_pengalaman">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="website">Situs Web / Blog</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_website" id="preview_website">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="sosmed">Media Sosial</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_sosmed" id="preview_sosmed">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="file">Contoh Karya</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="filename" id="filename">
                        </div>
                    </div>
                    <br>
                    <h3>Proyek</h3>
                    <hr>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
                      <div class="col-md-10">
                        <input readonly class="form-control" name="preview_proyek" id="preview_proyek">
                      </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_deskripsi" id="preview_deskripsi" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="kategori">Kategori</label>
                            <div class="col-md-10">
                                <input readonly class="form-control" name="preview_kategori" id="preview_kategori">
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="latar-belakang">Latar Belakang Proyek</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_latarbelakang" id="preview_latarbelakang" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="masalah">Masalah yang Diangkat</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_masalah" id="preview_masalah" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_durasi" id="preview_durasi">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="sukses">Indikator Sukses</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_sukses" id="preview_sukses" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="dana">Dana Hibah</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_dana" id="preview_dana">
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <h4>Harap pastikan bahwa data yang Anda masukan pada formulir di atas adalah benar.</h4>
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-3 text-center">
                        <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="kembali">Kembali</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <button type="submit" form="formpass" class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn">Konfirmasi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
