---
title: Formulir Aplikasi Hibah Cipta Media Ekspresi
layout: info
---

	<div class="container" style="margin-top: 30px;">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Hibah terbuka untuk seniman Indonesia terutama perempuan dan kelompok minoritas dalam mengekspresikan kebudayaannya</h2>
            </div>
        </div>
        
        <script>
        $(document).ready(function(){
            $("#show-daftar").click(function(){
                $("#disclaimer").hide();
                $("#formulir").fadeIn();
            });
        });
        </script>
        
        <div class="row" id="disclaimer">
            <div class="col-md-12">
                <h3 class="text-center">Disclaimer</h3>
            </div>
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elit felis, imperdiet at nisi ut, consectetur accumsan purus. Nullam porttitor tincidunt sagittis. Cras pellentesque nibh sodales varius mattis. Curabitur tincidunt lorem ac molestie interdum.</p>
                <p>Pernahkah Anda:</p>
                <ol>
                    <li>Kesulitan mencari dukungan untuk mencipta karya tentang perempuan?</li>
                    <li>Ingin melakukan perjalanan untuk bertemu para pencipta perempuan? </li>
                    <li>Ingin berkeliling dan menyajikan karya kepada sesama perempuan?</li>
                    <li>Ingin mengumpulkan pengetahuan perempuan dan membaginya kepada khalayak luas?</li>
                    <li>Ingin menjalin kolaborasi dengan para perempuan lain dan mencipta karya bersama?</li>
                    <li>Ingin mengumpulkan cerita tentang peran perempuan dalam beragam konteks budaya dan generasi?</li>
                </ol>
                <p>Jika Anda sudah membaca dan memahami keterangan diatas, Anda bisa memulai permintaan hibah Anda dengan menekan tombol di bawah</p>
            </div>
            <div class="col-lg-12 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="show-daftar">Pendaftaran Hibah</a>
            </div>
        </div>
        
        <div class="row" id="formulir" hidden>
            <div class="col-lg-12">
                <form class="form-horizontal" name="daftar" action="https://www.elformo.com/forms/bcbda905-1aca-41c1-8775-5f69d8d5fa9a" method="post" accept-charset="UTF-8">
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">Nama Lengkap</label>
                        <div class="col-md-10">
                            <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukan nama lengkap Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="telp">No. Telpon</label>
                        <div class="col-md-10">
                            <input type="number" name="telp" class="form-control" id="telp" placeholder="Masukan nomor telpon / telpon genggam Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="email">Surel</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Masukan surel Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="kota">Kabupaten/Kota Domisili</label>
                        <div class="col-md-10">
                            <input type="text" name="kota" class="form-control" id="kota" placeholder="Masukan nama kabupaten/kota tempat tinggal Anda">
                        </div>
                    </div>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Kesenian</label>
                            <div class="col-md-10">
                                <div class="radio">
                                    <ul style="list-style: none; padding-left: 25px">
                                        <li><input id="pertunjukan" type="radio" name="seni" value="seni-pertunjukan"><label for="pertunjukan">Seni Pertunjukan</label></li>
                                        <li><input id="rupa" type="radio" name="seni" value="seni-rupa"><label for="rupa">Seni Rupa</label></li>
                                        <li><input id="musik" type="radio" name="seni" value="musik"><label for="musik">Musik</label></li>
                                        <li><input id="kriya" type="radio" name="seni" value="kriya"><label for="kriya">Kriya</label></li>
                                        <li><input id="sastra" type="radio" name="seni" value="sastra"><label for="sastra">Sastra</label></li>
                                        <li><input id="film" type="radio" name="seni" value="audiovisual"><label for="film">Film / Audiovisual</label></li>
                                        <li><input id="kolab" type="radio" name="seni" value="kolaborasi"><label for="kolab">Kolaborasi</label></li>
                                        <li><input id="riset" type="radio" name="seni" value="riset-kuratorial"><label for="riset">Riset & Kuratorial</label></li>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="proyek">Nama Proyek</label>
                        <div class="col-md-10">
                            <input type="text" name="proyek" class="form-control" id="proyek" placeholder="Masukan nama proyek Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <select name="durasi" class="form-control" id="durasi" placeholder="Berapa lama Anda proyek Anda akan berjalan" required="true">
                                <option>1 bulan</option>
                                <option>2 bulan</option>
                                <option>3 bulan</option>
                                <option>4 bulan</option>
                                <option>5 bulan</option>
                                <option>6 bulan</option>
                                <option>7 bulan</option>
                                <option>8 bulan</option>
                                <option>9 bulan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea name="deskripsi" class="form-control" rows="5" id="deskripsi" placeholder="Ceritakan proyek yang akan Anda kembangkan" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="anggota">Anggota Tim / Kolaborator</label>
                        <div class="col-md-10">
                            <textarea name="anggota" class="form-control" rows="5" id="anggota" placeholder="Sebutkan nama-nama rekan Anda dalam menjalankan proyek tersebut (abaikan bila tidak ada)"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="dana">Jumlah Dana yang Diminta</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="number" name="dana" class="form-control" id="dana" placeholder="Masukan jumlah dana yang diminta" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <h4><font color="red"><b>*</b></font> Wajib diisi</h4>
                    </div>
                    <div class="form-group"> 
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Kirim</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
