---
title: Formulir Aplikasi Hibah Cipta Media Ekspresi
layout: info
---

<script>
  $( function() {
    var projects = [
      {
        value: "Q1823",
        label: "Aceh",
        desc: "Propinsi"
      },
      {
        value: "Q1866",
        label: "Kepulauan Bangka Belitung",
        desc: "Propinsi"
      },
      {
        value: "Q1890",
        label: "Bengkulu",
        desc: "Propinsi"
      },
      {
        value: "Q2051",
        label: "Jambi",
        desc: "Propinsi"
      },
      {
        value: "Q2110",
        label: "Lampung",
        desc: "Propinsi"
      },
      {
        value: "Q2140",
        label: "Sumatra Utara",
        desc: "Propinsi"
      },
      {
        value: "Q2175",
        label: "Riau",
        desc: "Propinsi"
      },
      {
        value: "Q2223",
        label: "Kepulauan Riau",
        desc: "Propinsi"
      },
      {
        value: "Q2271",
        label: "Sumatra Selatan",
        desc: "Propinsi"
      },
      {
        value: "Q2772",
        label: "Sumatra Barat",
        desc: "Propinsi"
      },
      {
        value: "Q3540",
        label: "Banten",
        desc: "Propinsi"
      },
      {
        value: "Q3557",
        label: "Jawa Tengah",
        desc: "Propinsi"
      },
      {
        value: "Q3586",
        label: "Jawa Timur",
        desc: "Propinsi"
      },
      {
        value: "Q3630",
        label: "DKI Jakarta",
        desc: "Propinsi"
      },
      {
        value: "Q3724",
        label: "Jawa Barat",
        desc: "Propinsi"
      },
      {
        value: "Q3741",
        label: "DI Yogyakarta",
        desc: "Propinsi"
      },
      {
        value: "Q3891",
        label: "Kalimantan Tengah",
        desc: "Propinsi"
      },
      {
        value: "Q3899",
        label: "Kalimantan Timur",
        desc: "Propinsi"
      },
      {
        value: "Q3903",
        label: "Kalimantan Utara",
        desc: "Propinsi"
      },
      {
        value: "Q3906",
        label: "Kalimantan Selatan",
        desc: "Propinsi"
      },
      {
        value: "Q3916",
        label: "Kalimantan Barat",
        desc: "Propinsi"
      },
      {
        value: "Q5061",
        label: "Nusa Tenggara Timur",
        desc: "Propinsi"
      },
      {
        value: "Q5062",
        label: "Nusa Tenggara Barat",
        desc: "Propinsi"
      },
      {
        value: "Q5065",
        label: "Sulawesi Tengah",
        desc: "Propinsi"
      },
      {
        value: "Q5067",
        label: "Gorontalo",
        desc: "Propinsi"
      },
      {
        value: "Q5068",
        label: "Sulawesi Utara",
        desc: "Propinsi"
      },
      {
        value: "Q5075",
        label: "Sulawesi Tenggara",
        desc: "Propinsi"
      },
      {
        value: "Q5078",
        label: "Sulawesi Selatan",
        desc: "Propinsi"
      },
      {
        value: "Q5082",
        label: "Sulawesi Barat",
        desc: "Propinsi"
      },
      {
        value: "Q5093",
        label: "Maluku",
        desc: "Propinsi"
      },
      {
        value: "Q5094",
        label: "Maluku Utara",
        desc: "Propinsi"
      },
      {
        value: "Q5095",
        label: "Papua",
        desc: "Propinsi"
      },
      {
        value: "Q5096",
        label: "Papua Barat",
        desc: "Propinsi"
      },
      {
        value: "Q3125978",
        label: "Bali",
        desc: "Propinsi"
      },
    ];
    $( "#project" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        $( "#project-id" ).val( ui.item.value );
        $( "#project-description" ).html( ui.item.desc );
 
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.label + "</div>" )
        .appendTo( ul );
    };
  });
    $(document).ready(function(){
        $("#preview").click(function(){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            alert("Periksa kembali informasi yang telah Anda masukan. Pastikan data-data yang Anda masukan sudah lengkap dan benar kemudian tekan kirim di bawah.");
            $("#hide-submit").show();
            $("#hide-preview").hide();
        });
    });
</script>

    <style>
        .form-group.required .control-label:after {
          content:"*";
          color:red;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: white;
        }
        * html .ui-autocomplete {
            height: 100px;
        }
        .ui-helper-hidden-accessible {
            display:none;
        }
    </style>

	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ page.title }}</h1>
                <h2>Halaman ini adalah halaman uji coba untuk formulir pendaftaran Cipta Media Ekspresi</h2>
            </div>
        </div>
        <div class="row" id="formulir">
            <div class="col-lg-12">
                <form class="form-horizontal" name="daftar" netlify-honeypot="bot-field" action="/terima-kasih.html" netlify>
                    <div class="form-group">
                        <p class="hidden">
                            <label>Don’t fill this out: <input name="bot-field"></label>
                        </p>
                    </div>
                    <br>
                    <h3>Identitas</h3>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">No. KTP</label>
                        <div class="col-md-10">
                            <input type="number" name="ktp" class="form-control" id="ktp" placeholder="Masukan nomor identitas Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">Nama Lengkap</label>
                        <div class="col-md-10">
                            <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukan nama lengkap Anda" required="true">
                        </div>
                    </div>
                    <div class="ui-widget form-group required">
                        <label class="control-label col-md-2" for="project">Test kota</label>
                        <div class="col-md-10">
                          <input type="text" name="project" class="form-control" id="project" placeholder="Test Kota" required="true">
                          <input type="text" name="project-id" id="project-id" hidden required>
                          <p id="project-id"></p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="telp">No. Telpon</label>
                        <div class="col-md-10">
                            <input type="number" name="telp" class="form-control" id="telp" placeholder="Masukan nomor telpon / telpon genggam Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="email">Surel</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Masukan surel Anda" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="foto">Foto Diri</label>
                        <div class="col-md-10">
                                <input type="file" class="btn btn-default" name="foto" id="foto" multiple>
                                <div class="input-group"> 
                                    <input type="text" readonly="" class="form-control" placeholder="Masukan foto Anda dengan klik di sini"> 
                                    <span class="input-group-btn input-group-sm"> 
                                        <button type="button" class="btn btn-fa btn-round"> 
                                            <i class="material-icons">attach_file</i> 
                                         </button>
                                    </span> 
                                </div>
                        </div>
                    </div>
                    <br>
                    <h3>Riwayat Berkarya</h3>
                    <hr>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Seni yang Anda Tekuni</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                    <li><input id="pertunjukan" type="radio" name="seni" value="seni-pertunjukan"><label for="pertunjukan"> Seni Pertunjukan</label></li>
                                    <li><input id="rupa" type="radio" name="seni" value="seni-rupa"><label for="rupa"> Seni Rupa</label></li>
                                    <li><input id="musik" type="radio" name="seni" value="musik"><label for="musik"> Musik</label></li>
                                    <li><input id="kriya" type="radio" name="seni" value="kriya"><label for="kriya"> Kriya</label></li>
                                    <li><input id="sastra" type="radio" name="seni" value="sastra"><label for="sastra"> Sastra Tertulis / Lisan</label></li>
                                    <li><input id="film" type="radio" name="seni" value="audiovisual"><label for="film"> Film / Audiovisual</label></li>
                                    <li><input id="kuliner" type="radio" name="seni" value="kuliner"><label for="kuliner"> Kuliner</label></li>
                                    <li><input id="penelitian" type="radio" name="seni" value="penelitian"><label for="penelitian"> Penelitian</label></li>
                                    <li><input id="kuratorial" type="radio" name="seni" value="kuratorial"><label for="kuratorial"> Kuratorial</label></li>
                                    <li><input id="lainnya" type="radio" name="seni" value="lainnya"><label for="lainnya"> Lainnya</label></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="pengalaman">Pengalaman Berkarya</label>
                        <div class="col-md-10">
                            <input type="text" name="pengalaman" class="form-control" id="pengalaman" placeholder="Berapa lama Anda sudah berkarya (contoh: 3 tahun / 6 bulan / baru memulai)" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="website">Situs Web / Blog</label>
                        <div class="col-md-10">
                            <input type="text" name="website" class="form-control" id="website" placeholder="Masukan situs atau blog yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="sosmed">Media Sosial</label>
                        <div class="col-md-10">
                            <input type="text" name="sosmed" class="form-control" id="sosmed" placeholder="Masukan media sosial yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="file">Contoh Karya</label>
                        <div class="col-md-10">
                                <input type="file" class="btn btn-default" name="file" id="file" multiple>
                                <div class="input-group"> 
                                    <input type="text" readonly="" class="form-control" placeholder="Contoh karya yang diunggah dapat berbentuk citra visual atau audiovisual dengan ukuran tidak lebih dari 5MB"> 
                                    <span class="input-group-btn input-group-sm"> 
                                        <button type="button" class="btn btn-fa btn-round"> 
                                            <i class="material-icons">attach_file</i> 
                                         </button>
                                    </span> 
                                </div>
                        </div>
                    </div>
                    <br>
                    <h3>Proyek</h3>
                    <hr>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
                      <div class="col-md-10">
                        <input type="text" name="proyek" class="form-control" id="proyek" placeholder="Masukan nama proyek Anda" required="true">
                      </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea name="deskripsi" class="form-control" rows="5" id="deskripsi" placeholder="Ceritakan proyek yang akan Anda kembangkan" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="kategori">Kategori</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                  <li><input id="mobilitas" type="radio" name="kategori" value="mobilitas-perjalanan"><label for="mobilitas"> Mobilitas / Perjalanan</label></li>
                                  <li><input id="kolaborasi" type="radio" name="kategori" value="kolaborasi"><label for="kolaborasi"> Kolaborasi</label></li>
                                  <li><input id="lintas-generasi" type="radio" name="kategori" value="lintas-generasi"><label for="lintas-generasi"> Lintas Generasi</label></li>
                                  <li><input id="riset-kuratorial" type="radio" name="kategori" value="riset-kuratorial"><label for="riset-kuratorial"> Riset / Kuratorial</label></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="latar-belakang">Latar Belakang Proyek</label>
                        <div class="col-md-10">
                            <textarea name="latar-belakang" class="form-control" rows="5" id="latar-belakang" placeholder="Jabarkan latar belakang hibah Anda dengan lugas, sigkat dan jelas" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <select name="durasi" class="form-control" id="durasi" placeholder="Berapa lama Anda proyek Anda akan berjalan" required="true">
                                <option>1 bulan</option>
                                <option>2 bulan</option>
                                <option>3 bulan</option>
                                <option>4 bulan</option>
                                <option>5 bulan</option>
                                <option>6 bulan</option>
                                <option>7 bulan</option>
                                <option>8 bulan</option>
                                <option>9 bulan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="sukses">Indikator Sukses</label>
                        <div class="col-md-10">
                            <textarea name="sukses" class="form-control" rows="5" id="sukses" placeholder="Jelaskan ukuran keberhasilan proyek Anda" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="dana">Dana Hibah</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="number" name="dana" class="form-control" id="dana" placeholder="Masukan jumlah dana yang diminta" required="true">
                            </div>
                            <small>Jumlah dana hibah harus realistis dan secara konsisten menunjukkan biaya atas apa yang ingin dilakukan, berapa jumlah orang yang akan melakukannya, serta mencerminkan rentang waktu (lama) aktifitas.</small>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <h4><font color="red"><b>*</b></font> Wajib diisi</h4>
                    </div>
                    <div class="form-group" id="hide-preview"> 
                        <div class="col-lg-12 text-center">
                            <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">Pratinjau</button>
                        </div>
                    </div>
                    <div class="form-group" id="hide-submit" hidden> 
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn">Kirim</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
