---
title: '302'
permalink: "/maaf-302.html"
layout: null
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h1>302</h1>
                <h2>Masa publikasi</h2>
                <p>Maaf, halaman yang Anda cari untuk sementara tidak dapat diakses karena situs ini sedang memasuki tahap peluncuran. Seluruh halaman akan kembali tayang pada:</p>
                <h3>8 Januari 2018</h3>
                <div>
                    <a class="btn btn-primary" href="/">Beranda</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src= "/static/js/bootstrap.min.js"></script>
    <script src= "/static/js/material.min.js"></script>
    <script src= "/static/js/material-kit.js"></script>
    <script src= "/static/js/nouislider.min.js"></script>
</body>
</html>
