---
title: Test Netlify Identity
layout: info
---

	<div class="container" style="margin-top: 30px;">
        
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div data-netlify-identity-button></div>
            </div>
        </div>
    
    </div>
