---
title: Halaman Pencarian
layout: info
permalink: search/
---

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Cari</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            
          <div class="search">
                  <form action="/search/" method="get">
                    <input type="text" id="search-box" placeholder="Cari judul laporan, judul & kategori artikel, serta nama penulis..." name="query" class="form-control">
                    <!-- <input type="submit" value="Cari"> -->
                  </form>
            <hr>
            <ul id="search-results"></ul>

            <script>
              window.store = {
                {% for post in site.posts %}
                  "{{ post.url | slugify }}": {
                    "title": "{{ post.title | xml_escape }}",
                    "author": "{{ post.author | xml_escape }}",
                    "category": "{{ post.category | xml_escape }}",
                    "url": "{{ post.url | xml_escape }}"
                  }
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}
              };
            </script>
            <script src="/static/js/lunr.min.js"></script>
            <script src="/static/js/search.js"></script>
          </div>
            
        </div>
    </div>

</div>
