---
title: Pendaftaran Berhasil
layout: info
---

    <meta http-equiv="refresh" content="30;url=/index.html" />
	<div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Pendaftaran hibah Anda sudah berhasil tercatat dan akan kami proses.</h2>
                <p>Pendaftaran Anda akan kami proses selambatnya 2x24 jam hari kerja.</p>
                <h3>Klik pranala di bawah ini untuk kembali ke halaman utama atau tunggu selama 30 detik untuk diantarkan kembali ke halaman utama secara otomatis</h3>
            </div>
        </div>
    </div>
