---
title: Pendaftar Hibah
layout: info
---

  <!-- jPages -->
  <script src= "/static/js/jPages.js"></script>
  <script src= "/static/js/js.js"></script>
  <!--<script id= "dsq-count-scr" src="//jalpc.disqus.com/count.js" async></script>-->
  <script>
	/* when document is ready */
	$(function() {
		/* initiate plugin */
		$("#holder").jPages({
			containerID : "itemContainer",
			perPage : 9,
			startPage: 1,
			startRange: 1,
			midRange: 3,
			endRange: 1
		});
		$("button").click(function(){
			var page = parseInt( $("input").val() );
			$("#holder").jPages( page );
		});
	});
  </script>
  <!-- jPages -->

<div class="container" style="margin-top: 30px;">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Pendaftar Hibah</h1>
        </div>
    </div>
	
	<div class="row">
		<div class="col-md-12">
		    <nav class="navbar" role="navigation">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="#">Semua</a></li>
					<li><a href="hibahcms-hardware.html">Perangkat Keras</a></li>
					<li><a href="hibahcms-software.html">Perangkat Lunak</a></li>
					<li><a href="hibahcms-konten.html">Produksi dan Penyampaian Konten</a></li>
				</ul>
			</div>
		    </nav>
		</div>
	</div>
	
    <div class="row">	
        <div id="itemContainer">
        {% for hibahcms in site.data.hibahcms %}
        {% assign loopindex = forloop.index | modulo: 3 %}
		<div class="col-md-4">
			<div class="col-md-12 well well-lg" style="height: 650px;">
				<a href="{{ hibahcms.link }}"><img class="img-responsive center-block" src="{{ hibahcms.gambar }}" style="max-height: 300px;"></a>
				<hr>
				<a href="{{ hibahcms.link }}"><h4>{{ hibahcms.nomor }} - {{ hibahcms.judul | truncatewords: 10 }}</h4></a><br/>
				<p>{{ hibahcms.deskripsi | truncatewords: 20 }}</p>
				<hr>
				<i class="fa fa-map-marker" aria-hidden="true"></i> {{ hibahcms.lokasi }}
			</div>
		</div>
	{% endfor %}
	</div>
    </div>	    
    <div class="row text-center">
        <div class="col-md-12">
            <div class="pag-holder" id="holder"></div>
        </div>
	<div class="col-md-12">
		<input type="number" value="5" style="width: 40px; text-align: center;">
		<button>Lompat ke bagian ini</button>
	</div>
    </div>
</div>
