---
title: Tentang CMS
layout: info
---

<div class="container">
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span data-i18n="tentang.tentang">Tentang CMS</span></h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">

            <ul class="nav nav-pills nav-pills-danger" style="display: inline-block">
                <li class="active"><a data-toggle="tab" href="#tentang"><i class="material-icons">business</i>Tentang Kami</a></li>
                <li><a data-toggle="tab" href="#jenis"><i class="material-icons">dashboard</i>Jenis Hibah</a></li>
                <li><a data-toggle="tab" href="#faq"><i class="material-icons">question_answer</i>FAQ</a></li>
                <li><a data-toggle="tab" href="#kontak"><i class="material-icons">call</i>Kontak</a></li>
            </ul>

        </div>
    </div>

  <div class="row">
    <div class="col-md-12">
    
        <div class="tab-content">
            <div id="tentang" class="tab-pane fade in active">
        
                <div class="embed-responsive embed-responsive-16by9 text-center">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hxJ9coOc7XY"></iframe>
                </div>

                <p>
                <b>Cipta Media Seluler</b> adalah hibah terbuka yang mengajak individu, komunitas, atau organisasi memunculkan inisiatif-inisiatif untuk perubahan sosial yang lebih adil melalui penggunaan teknologi seluler. Hibah terbuka ini menyediakan dukungan dana sebesar 750 ribu dolar AS bagi inisiatif-inisiatif teknologi seluler terbaik yang dapat dimodifikasi dan dicontoh untuk diterapkan di daerah lain. Cipta Media Seluler diluncurkan pada 20 Januari 2014 (siaran pers), digagas sebagai upaya mendorong individu, komunitas dan organisasi dalam memanfaatkan seluler untuk perubahan sosial yang lebih adil. Kategori hibah terbagi menjadi tiga: produksi dan penyampaian konten, rekayasa piranti lunak, dan rekayasa perangkat keras.
                </p>     
                <p>
                Program ini digagas dan didanai oleh: Ford Foundation dan didukung oleh Wikimedia Indonesia, Aliansi Jurnalis Independen (AJI) Indonesia dan ICT Watch. Organisasi- organisasi ini berkolaborasi guna memberdayakan masyarakat dalam menggali potensi perangkat seluler sebagai medium penggerak upaya sosial untuk kehidupan yang lebih adil. Kami percaya teknologi penggunaan perangkat seluler untuk upaya membangun tatanan sosial yang lebih adil  belum dikembangkan secara maksimal di Indonesia. Para peneliti dan wartawan yang mencermati perkembangan industri perangkat seluler cenderung lebih fokus pada pertumbuhan penggunaannya oleh masyarakat Indonesia dan bukan menggali kemungkinan pemakaian seluler dalam memperjuangkan dan mengatasi kepentingan umum.
                </p>
                <p>    
                Meskipun terdapat kenyataan, bahwa akses dalam hal penggunaan perangkat seluler ini tinggi dan pengguna perangkat seluler di Indonesia lintas kelompok pendapatan masyarakat, baik di desa maupun di kota. Kami melihat kecenderungan media non komersial atau LSM lambat untuk mengembangkan inisiatif yang mengeksplorasi potensi medium seluler dibandingkan dengan medium lain seperti video, radio, dan situs web. Sementara itu  di sisi lain,  pelaku industri tetap memperlakukan pengguna perangkat seluler berpenghasilan rendah sebagai konsumen, dan bukan produsen konten yang dapat diaktifkan untuk menghasilkan pengetahuan tentang  nilai ekonomi informasi.
                </p>
                <p>
                Cipta Media Seluler tertarik untuk mengeksplorasi penggunaan medium perangkat seluler  terutama dalam hal  partisipasi masyarakat, kebebasan berpendapat, dan upaya pemenuhan hak asasi manusia dalam menikmati kehidupan sosial yang lebih adil. Karena kami percaya bahwa manfaat sosial dan manfaat ekonomi dapat tumbuh secara beriringan. Dengan sistem partisipasi terbuka, masyarakat diharapkan ikut mendukung dan termotivasi oleh  program-program rintisan baru, yang dapat membuktikan bahwa media dan teknologi digital dapat dimanfaatkan untuk layanan umum yang lebih baik. Melalui hibah ini  diharapkan informasi yang  benar, berguna, dan akurat dapat disampaikan melalui teknologi yang tepat kepada masyarakat, yang membutuhkan informasi, sehingga mendorong munculnya kebijakan untuk media yang lebih baik.
                </p>
                <p>
                Total hibah sebesar 750 ribu Dollar AS akan diberikan pada proposal terbaik, yang akan ditentukan oleh Tim Seleksi Akhir yang independen. Kesempatan lain yang juga dibuka oleh teknologi, yakni ruang cipta untuk inovasi baru melalui media untuk perbaikan sosial oleh masyarakat yang yang berjejaring (online) dalam penggunaan media. Upaya hibah terbuka untuk publik ini lebih terfokus dalam memanfaatkan teknologi seluler dan merupakan program lanjutan dari upaya sebelumnya, yang dilakukan pada tahun 2011 sampai 2013, dengan nama “Cipta Media Bersama”.
                </p>
                
            </div>
            
            <div id="jenis" class="tab-pane fade">
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <img src="/static/img/landing/perangkat-keras.png" class="img-responsive center-block" style="max-height:180px">
                    </div>
                    <div class="col-md-10">
                        <h2>Perangkat Keras</h2>
                        <p>Pembiayaan untuk kategori ini termasuk upaya-upaya untuk:</p>
                        <ul>
                            <li>Menciptakan dan merakit perangkat keras (infrastruktur) dalam memanfaatkan teknologi seluler, seperti jaringan wifi, bluetooth, peer to peer, dan seluler GSM.</li>
                            <li>Menambah perangkat ekstra agar perangkat sebelumnya berfungsi spesifik untuk masyarakat dengan kebutuhan khusus dalam berkomunikasi.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="/static/img/landing/aplikasi.png" class="img-responsive center-block" style="max-height:180px">
                    </div>
                    <div class="col-md-10">
                        <h2>Piranti Lunak</h2>
                        <p>Pembiayaan untuk kategori ini termasuk upaya-upaya untuk:</p>
                        <ul>
                            <li>Menciptakan, mengoptimalisasi dan memodifikasi piranti lunak (aplikasi) atau platform baru maupun yang sudah ada yang dapat digunakan dengan perangkat seluler.</li>
                            <li>Lebih diutamakan apabila piranti lunak yang dihasilkan bisa memiliki fungsi yang spesifik bagi pengguna yang tepat.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="/static/img/landing/konten.png" class="img-responsive center-block" style="max-height:180px">
                    </div>
                    <div class="col-md-10">
                        <h2>Produksi & Penyampaian Konten</h2>
                        <p>Pembiayaan untuk kategori ini termasuk upaya-upaya untuk:</p>
                        <ul>
                            <li>Kegiatan produksi dan penyampaian konten multimedia (teks, video, games, ringtone, audio, animasi) yang dapat diakses perangkat seluler.</li>
                            <li>Konten yang diprioritaskan adalah yang bermuatan lokal dan mengusung kebhinekaan (keberagaman) untuk perubahan sosial yang lebih adil.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="faq" class="tab-pane fade">
                <h1>Tentang Hibah</h1>

                <p>
                <b>1. Mohon penjelasan mengenai pengertian hibah. Bagaimana hak dan kewajiban baik pemberi maupun penerima hibah Cipta Media Seluler?</b><br/>
                Jawab: Hibah Cipta Media Seluler adalah pemberian uang tunai di muka secara bertahap, yang disertai dengan surat perjanjian kesepakatan antara donor dan penerima hibah
                </p>

                <p>
                <b>2. Apa tujuan dari hibah Cipta Media Seluler?</b><br/>
                Jawab: Silahkan baca halaman tentang hibah untuk mengetahui tujuan dari pemberian hibah.
                </p>

                <p>
                <b>3. Apakah hibah yang saya minta harus menyertakan upaya yang terkait dengan telepon genggam? Bagaimana contohnya?</b><br/>
                Jawab: Ya, hibah Cipta Media Seluler di tahun 2014 mengutamakan upaya-upaya yang terkait dengan telepon genggam. Silahkan lihat contoh via tulisan-tulisan yang dimuat di sini.
                </p>

                <p>
                <b>4. Apabila upaya yang saya ajukan tidak menyertakan unsur telepon genggam, karena saya berpikir untuk membuat</b><br/> film/majalah/koran/situs web, mungkinkah permohonan hibah saya mendapatkan dana?
                Jawab: Tidak
                </p>

                <p>
                <b>5. Apabila upaya yang saya ajukan menyertakan unsur telepon genggam,  namun saya tidak memiliki kemampuan teknis untuk mewujudkannya, namun saya terdorong untuk menjalankan program, karena saya pikir hal ini penting, sangat diperlukan, dan akan menolong masyarakat mendapatkan kehidupan yang lebih adil, bolehkah saya mengajukan hibah untuk mendapatkan dana?</b><br/>
                Jawab: Ada dua hal yang dapat Anda lakukan apabila Anda tidak memiliki kemampuan teknis untuk mewujudkan ide Anda.
                <ul>
                <li>(a) Anda berpartisipasi dalam jajak pendapat kebutuhan berhadiah. Harapannya ada orang lain dengan kemampuan teknis yang mumpuni dapat mewujudkan ide Anda saat pemikiran Anda dipublikasikan sebagai contoh di situs Cipta Media.</li>
                <li>(b) Anda mengusulkan aplikasi hibah dan menyatakan tidak memiliki kemampuan teknis mewujudkannya sebagai kendala. Namun sebaiknya Anda memiliki kemampuan/kelebihan lain yang berhubungan langsung dengan permintaan hibah tersebut. Contohnya Anda adalah bagian dari komunitas teroganisasikan yang membutuhkan upaya yang Anda usulkan, berada di lokasi di mana implementasi sebaiknya dilakukan, dan sebab-sebab lainnya. Apabila ide dinyatakan baik dan penting,  maka ada tim developer yang akan mengkaji apakah ide tersebut mungkin/ tidak mungkin diwujudkan secara teknis dan membantu menjawab hal-hal yang Anda butuhkan untuk mewujudkannya.</li>
                </ul>
                </p>

                <p>
                <b>6. Saya memiliki inisiatif perbaikan sosial menggunakan telepon genggam, namun saya tidak punya waktu dan kemampuan untuk mewujudkannya. Apakah boleh saya hanya mengirim usulan ide saja?</b><br/>
                Jawab: Boleh, kami anjurkan anda berpartisipasi dalam jajak pendapat kebutuhan berhadiah. Harapannya  ada orang lain dengan kemampuan teknis yang mumpuni dapat mewujudkan ide Anda saat pemikiran Anda dipublikasikan sebagai contoh di situs Cipta Media.
                </p>

                <p>
                <b>7. Bagaimana tahapan berjalannya hibah Cipta Media ini?</b><br/>
                Jawab: Silahkan merujuk pada halaman tahapan perwujudan hibah.
                </p>

                <p>
                <b>8. Bila ada hal yang tidak saya  mengerti, ke mana saya bisa mendapatkan informasi?</b><br/>
                Jawab: Silahkan merujuk pada halaman kontak. Untuk pertanyaan dengan jawaban yang mungkin kompleks kami menyarankan pertanyaan diajukan via surel info@ciptamedia.org.  Untuk permintaan kedatangan langsung panitia Cipta Media Seluler ke kota Anda, silahkan merujuk pada promosi keliling.
                </p>

                <h1>Jumlah dana hibah</h1>

                <p>
                <b>9. Berapa besar dana yang bisa saya minta? Apakah ada jumlah terbesar dan terkecil?</b><br/>
                Jawab: Jumlah total dana hibah yang disediakan adalah USD 750 ribu (atau setara dengan 9 milyar rupiah). Tidak ada jumlah terbesar dan terkecil yang ditentukan. Namun tentunya Anda harus dapat menghitung anggaran Anda dengan baik dan tidak berlebihan ataupun kekurangan, karena besarnya permintaan anggaran hibah mencerminkan kepatutan Anda menerima hibah untuk 1 tahun berjalannya proyek.
                </p>

                <p>
                <b>10. Apakah terdapat batasan masa waktu pelaksanaan proyek?</b><br/>
                Jawab: Ya, Cipta Media Seluler hanya akan memberikan dukungan dana selama 1 tahun. Selanjutnya pelaksana proyek diharapkan mampu menggalang dukungan dari pihak lain atau membiayai sendiri keberlanjutan proyek.
                </p>

                <p>
                <b>11. Apakah setelah hibah diberikan saya memiliki tanggung jawab dan keterikatan (misalnya berupa kontrak) terhadap pemberi hibah?</b><br/>
                Jawab: Ya. Seluruh penerima hibah akan menandatangani perjanjian/kesepakatan dengan donor hibah. Pada umumnya tanggung jawab penerima hibah adalah membuktikan bahwa dana yang digunakan sesuai anggaran dengan membuat laporan penggunaan dana, dan melaporkan kegiatan yang telah dilakukan menggunakan dana tersebut via laporan narasi selama berjalannya upaya.
                </p>

                <p>
                <b>12. Apakah hibah ini boleh untuk membiayai administrasi perkantoran (kantor, kontrakan, pembelian computer, printer, pembayaran telepon bulanan)</b><br/>
                Jawab: Permohonan pembiayaan akan dikaji berdasarkan anggaran rinci yang diajukan kemudian. Keputusan akan boleh/tidaknya sangat tergantung pada latar belakang dan penilaian atas jawaban dari pertanyaan yang diajukan Tim Seleksi.
                </p>

                <h1>Berpartisipasi dalam Cipta Media Seluler</h1>

                <p>
                <b>13. Bagaimana cara saya mendapatkan hibah?</b><br/>
                Jawab: Anda dapat memulai dengan mengisi formulir permohonan permintaan hibah,  melihat halaman mengenai tahapan perealisasian hibah, dan memperhitungkan waktu tenggat.
                </p>

                <p>
                <b>14. Saya mempunyai ide upaya yang sesuai dengan persyaratan yang ditentukan oleh Cipta Media, namun saya tidak terdaftar sebagai bagian komunitas atau organisasi mana pun. Apakah inisiatif yang dikelola perorangan juga dapat didanai oleh Cipta Media?</b><br/>
                Jawab: Ya, Cipta Media Seluler dapat memberikan hibah untuk upaya perseorangan/individu.
                </p>

                <p>
                <b>15. Saya mendapat banyak pertanyaan saat saya menyebarluaskan mengenai partisipasi Cipta Media Seluler. Karena banyak yang tertarik setelah membaca dari jaringan perkenalan saya, ingin rasanya ada yang dapat hadir dan menjelaskan dan menjawab langsung pertanyaan-pertanyaan yang muncul. Mungkinkan ada tim panitia Cipta Media Seluler datang ke daerah saya? Bagaimana format acara yang ditawarkan?</b><br/>
                Jawab: Panitia Cipta Media Seluler dengan senang hati mendatangi lokasi Anda untuk dapat menjawab pertanyaan bebas biaya dari pihak Anda dengan syarat bahwa ada minimum 30 peserta yang  menghadiri acara Anda. Konsep acara yang terpikirkan oleh panitia Cipta Media lebih berupa “Tanya Jawab”, di mana pengundang (Anda dan undangan) sudah menyiapkan daftar pertanyaan untuk para panitia. Dengan melakukan tanya jawab langsung, panitia bisa menjelaskan lebih lanjut mengenai berjalannya tahapan realisasi hibah. Apa yang mungkin, apa yang tidak mungkin, dan apa tujuannya. Hal lain yang dapat dilakukan oleh panitia adalah menyiapkan contoh-contoh hibah sebelumnya, pelajaran apa yang kita dapatkan melalui pengalaman  penerima hibah tahun lalu (2011) dan kita bisa mendiskusikan hal ini dengan calon penerima hibah kualitasnya memungkinkan untuk diterima. Apabila jawaban ini memuaskan, silahkan mulai diisi formulir permintaan kedatangan promosi keliling.
                </p>

                <h1>Formulir hibah/ proposal</h1>

                <p>
                <b>16. Kapan tenggat harus mengirim formulir hibah/ proposal?</b><br/>
                Jawab: Silahkan lihat jadwal hibah.

                <p>
                <b>17. Apakah waktu pengajuan proposal mempengaruhi keputusan dewan juri?</b><br/>
                Jawab: Anda dianjurkan untuk mengajukan proposal sedini mungkin saat proposal Anda telah siap. Walaupun waktu pengajuan proposal tidak mempengaruhi keputusan Tim Seleksi/ Juri, namun ada keuntungan proposal yang diajukan dini antara lain adalah memberi waktu lebih bagi Anda dalam menggalang dukungan warga masyarakat. Selain itu, berdasarkan pengalaman hibah “Cipta Media Bersama” pada tahun 2011 peningkatan jumlah aplikasi yang dimasukkan pada saat tenggat adalah 400 %, dan Anda mungkin ingin menghindari menjadi salah satu dari kerumunan ini.
                </p>

                <p>
                <b>18. Saya sudah mengisi formulir hibah/ proposal namun saya belum mendapatkan pernyataan bahwa proposal saya sudah diterima panitia serta belum ditampilkan di situs Cipta Media Seluler. Apakah ini berarti proposal saya gagal dan saya harus mengirimkan lagi?</b><br/>
                Jawab: Pernyataan bahwa proposal Anda sudah diterima panitia dan publikasi proposal Anda di situs Cipta Media Seluler dilakukan secara manual oleh panitia. Hal ini membutuhkan waktu 2-3 hari dari pengiriman proposal Anda, kami harap Anda bersabar. Apabila Anda tidak yakin bahwa pengisian Anda sukses, silahkan menghubungi panitia via surel info@ciptamedia.org untuk mendapatkan verifikasi apakah formulir hibah Anda berhasil masuk/ tidak.
                </p>

                <p>
                <b>19. Saya sudah mengisi formulir hibah/ proposal,  namun saya melakukan kesalahan ketik/ isi. Apakah saya boleh membetulkan masukan saya tersebut?</b><br/>
                Jawab: Anda bisa mengirimkan perbaikan proposal via surel ke info@ciptamedia.org, namun prioritas panitia adalah pemohon hibah baru untuk dilayani agar memenuhi tenggat.[T1]  Sehingga kewajiban panitia memperbaiki permohonan hibah yang Anda[T2] usulkan adalah setelah waktu tenggat ditutup.
                </p>

                <p>
                <b>20. Apakah saya boleh mengirimkan lebih dari satu proposal pada kategori yang sama?</b><br/>
                Jawab: Tidak. Proposal dari orang perseorangan, komunitas, atau organisasi hanya diperbolehkan satu. Ini untuk menjamin bahwa mereka fokus akan[T3]  rancangan program yang dibuatnya. Perbaikan proposal bisa dilakukan sesuai jawaban di nomor 19.

                <p>
                <b>21. Apakah saya diperkenankan mengirimkan lebih dari satu formulir permohonan hibah pada kategori yang berbeda?</b><br/>
                Jawab: Tidak. Proposal dari orang perseorangan, komunitas, atau organisasi hanya diperbolehkan satu. Ini untuk menjamin bahwa mereka fokus kepada rancangan program yang dibuatnyaT4] . Perbaikan proposal bisa dilakukan sesuai jawaban di nomor 19.
                </p>

                <p>
                <b>22. Apakah saya boleh menyebarluaskan proposal yang saya kirimkan via sosial media untuk mendapatkan dukungan dari masyarakat?</b><br/>
                Jawab: Ya, bahkan dianjurkan. Silahkan merujuk pada halaman seleksi oleh warga masyarakat, dimana[T5]  penerima manfaat anda[T6]  (apabila upaya yang anda[T7]  lakukan telah menguntungkan orang banyak), atau calon penerima manfaat anda[T8]  (apabila upaya yang anda lakukan untuk target khusus) dapat mendukung Anda[T9]  via jajak pendapat, SMS, facebook, dan twitter dengan bobot dukungan spesifik yang telah ditentukan panitia. Semakin banyak penerima manfaat yang berpikir upaya Anda[T10]  baik dengan menjelaskan alasan dan mencantumkan upaya anda[T11]  – maka permohonan hibah[T12]  akan dipertimbangkan via jalur dukungan warga masyarakat.
                </p>
            </div>
        
            <div id="kontak" class="tab-pane fade">
                <h1>Panitia Cipta Media Seluler</h1>
                <br/>
                <h2>Surat elektronik (surel):</h2>
                <h3>info@ciptamedia.org</h3>
                <h2>SMS:</h2>
                <h3>0877-8880-2262</h3>

                <p>Untuk berlangganan informasi dari Cipta Media Seluler melalui SMS, kirim pesan singkat ke nomor di atas dengan format sebagai berikut:
                <b>[REG][SPASI][CMS][SPASI][NAMA][SPASI][LOKASI][SPASI][UMUR][SPASI][PEKERJAAN]</b></p>

                <p>Contoh: <b>REG CMS Amir Bandung 19 Mahasiswa</b></p>

                <p>Untuk berhenti berlangganan, kirim pesan singkat ke nomor tersebut dengan format sebagai berikut:
                <b>[UNREG][SPASI][CMS]</b></p>

                <p><i>Tarif SMS adalah tarif normal yang diberlakukan masing-masing operator seluler Anda. Anda tidak akan dikenakan biaya apapun setiap menerima SMS informasi dari Cipta Media Seluler.</i></p>
            </div>
            
        </div>
    
      </div>
  </div>

</div>
