<footer class="footer" style="background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <form action="/search/" method="get">
                        <input type="text" id="search_box" placeholder="Kotak pencarian" name="query" class="form-control">
                        <!-- <input type="submit" value="Cari"> -->
                    </form>
                </div>
            </div>
        </div>
        <nav class="pull-left">
            <ul>
                <li><a href="https://twitter.com/ciptamedia"><i class="fa fa-twitter fa-3x"></i></a></li>
                <li><a href="https://www.facebook.com/ciptamedia"><i class="fa fa-facebook fa-3x"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYcchZfFm34fcFbP-XT5MSw"><i class="fa fa-youtube-play fa-3x"></i></a></li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <a href="https://creativecommons.org/licenses/by/4.0/deed.id"><h3>Cipta Media | CC BY 4.0</h3></a>
        </div>
    </div>
</footer>
<!-- Google analytics -->
{% if site.ga %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.ga.id }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
<!-- script -->
<script src= "/static/js/bootstrap.min.js"></script>
<script src= "/static/js/material.min.js"></script>
<script src= "/static/js/material-kit.js"></script>
<script src= "/static/js/nouislider.min.js"></script>
