<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.desc }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }} | {{ page.title }}</title>
  <!-- favicon -->
  <link rel="shortcut icon" href= "/static/img/favicon.ico" >
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src= "https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src= "https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script src= "/static/js/bootstrap-datepicker.js"></script>
  <script src= "/static/js/bootstrap-year-calendar.min.js"></script>
  <script src= "/static/js/netlify-identity-widget.js"></script>
  <script src= "/static/js/netlify-identity.js"></script>
  <!-- Font & Icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css">
  <!-- CSS -->
  <link href= "/static/css/bootstrap.min.css" rel="stylesheet">
  <link href= "/static/css/material-kit.css" rel="stylesheet">
  <link href= "/static/css/style.css" rel="stylesheet">
  <link href= "/static/css/bootstrap-year-calendar.min.css" rel="stylesheet">
</head>
