<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <a href="/index.html"><img src="/static/img/landing/logo-ekspresi-typo-w.png" width="200" class="img-responsive center-block" alt=""></a>
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/index.html">Beranda</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cipta Media Ekspresi <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Menu Utama</li>
                <li><a href="/tentang-ekspresi.html">Tentang</a></li>
                <li><a href="/kategori-ekspresi.html">Kategori Hibah</a></li>
                <li><a href="/timeline-ekspresi.html">Linimasa</a></li>
                <li><a href="/juri-ekspresi.html">Dewan Juri</a></li>
                <li><a href="/panitia-ekspresi.html">Panitia</a></li>
                <li><a href="/faq-ekspresi.html">Pertanyaan Umum</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyek Terdahulu <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Cipta Media Seluler</li>
                <li><a href="/ciptamediaseluler/tentangcms.html">Tentang</a></li>
                <li><a href="/ciptamediaseluler/proses.html">Proses Hibah</a></li>
                <li><a href="/blogcms/">Blog</a></li>
                <li class="dropdown-header">Cipta Media Bersama</li>
                <li><a href="/ciptamediabersama/proses.html">Tentang</a></li>
                <li><a href="/ciptamediabersama/proses.html">Proses Hibah</a></li>
                <li><a href="/blogcmb/">Blog</a></li>
              </ul>
            </li>
            <li><a href="#">Kontak</a></li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    </div>
</div>
