---
layout: base
---

{% include header.html %}
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <!--data-data-->
         <div class="row">
            <div class="col-lg-3">Nomor:</div><div class="col-lg-9">{{ page.nohibah }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Inisiator:</div><div class="col-lg-9">{{ page.inisiator }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Organisasi:</div><div class="col-lg-9">{{ page.organisasi }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Tanggal aplikasi:</div><div class="col-lg-9">{{ page.date | date: "%-d %B %Y" }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Lokasi:</div><div class="col-lg-9">{{ page.lokasi }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Dana:</div><div class="col-lg-9">{{ page.dana }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Topik hibah:</div><div class="col-lg-9">{{ page.topik }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Masa Aktivitas:</div><div class="col-lg-9">{{ page.lama }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Deskripsi Proyek:</div><div class="col-lg-9">{{ page.deskripsi | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Masalah yang ingin diatasi:</div><div class="col-lg-9">{{ page.masalah | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Cara mengatasi dan masyarakat yang diuntungkan:</div><div class="col-lg-9">{{ page.solusi | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Ukuran kesuksesan:</div><div class="col-lg-9">{{ page.keberhasilan | newline_to_br }}</div>
         </div>
        <hr>
      <!--end-->  
      </div>
      <div class="col-md-4">
        <h1>Perkembangan Proyek</h1>
        <hr>
        <br/>

        {% if page.title == 'AKUMASSA.ORG' %}
        
            {% for post in site.categories['AKUMASSA.ORG'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/akumassa.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Amboina Cyber Society' %}
        
            {% for post in site.categories['Amboina Cyber Society'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/amboina.html">Laporan Lainnya</a>
            </div>
          </div>
        
         {% elsif page.title == '“Benor FM”, Radio komunitas sebagai Media Belajar dan alat perjuangan hak dasar Orang Rimba' %}
        
            {% for post in site.categories['Benor FM'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/benor.html">Laporan Lainnya</a>
            </div>
          </div>
        
         {% elsif page.title == 'LenteraTimur.com – Menyigi Identitas Indonesia' %}
        
            {% for post in site.categories['LenteraTimur.com'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/lenteratimur.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Video untuk Perdamaian' %}
        
            {% for post in site.categories['Video untuk Perdamaian'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/videountukperdamaian.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Kartunet.com - Media Online Sosialisasi dan Pengembangan Komunitas Pemuda dengan Disabilitas' %}
        
            {% for post in site.categories['Kartunet.com'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/kartunet.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Penghargaan Hak Asasi Manusia untuk Blogger (Human Rights Blogger Award)' %}
        
            {% for post in site.categories['Human Rights Blogger Award'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/imldn.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Hpku-Teman Belajarku' %}
        
            {% for post in site.categories['Hpku-Teman Belajarku'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/hptemanbelajar.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Mendorong Media Sehat dalam Pemberitaan Syariat Islam di Aceh' %}
        
            {% for post in site.categories['AJI Banda Aceh'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/aji.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Next Generation – Media Watch & Literacy' %}
        
            {% for post in site.categories['Next Generation'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/nextgeneration.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Aldepe.com - Advokasi Hak Asasi Manusia (HAM) di Papua Via Media Online, Mobile Phone dan Social Media' %}
        
            {% for post in site.categories['Aldepe.com'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/aldepe.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Ibu Rumah Tangga Perdesaan “Melek” Media untuk Peningkatan Partisipasi Perempuan dan Pemenuhan Kebutuhan Informasi' %}
        
            {% for post in site.categories['JRKL'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/jrkl.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'MK-160 - Media Komunitas 160 Karakter' %}
        
            {% for post in site.categories['MK-160'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
        
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/mk160.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Tidak Bermula [Dan Tidak Berakhir] Dengan Berita' %}
        
            {% for post in site.categories['Di Balik Frekuensi'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/dibalikfrekuensi.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Radio Buruh Perempuan; Dari Perempuan Buruh untuk Kesetaraan' %}
        
            {% for post in site.categories['Marsinah FM'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/marsinahfm.html">Laporan Lainnya</a>
            </div>
          </div>
            
        {% elsif page.title == 'Follow up Survey Persepsi Wartawan Indonesia Terhadap Islam dan Media Watch Lapindo' %}
        
            {% for post in site.categories['Pantau'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/pantau.html">Laporan Lainnya</a>
            </div>
          </div>
            
        {% elsif page.title == 'Border Blogger Movement' %}
        
            {% for post in site.categories['Border Blogger Movement'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/bbg.html">Laporan Lainnya</a>
            </div>
          </div>
            
        {% elsif page.title == 'Indonesian Street Art Database' %}
        
            {% for post in site.categories['Indonesian Street Art Database'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/isad.html">Laporan Lainnya</a>
            </div>
          </div>
            
        {% elsif page.title == 'Pengembangan Skema Pendanaan dan Strategi Mobilisasi Sumber Daya untuk Keberlanjutan Media komunitas di Indonesia' %}
        
            {% for post in site.categories['PIRAC'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/pirac.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% elsif page.title == 'Bhinneka - Keberagaman dan Kesetaraan Tanpa Batas' %}
        
            {% for post in site.categories['Bhinneka'] limit: 5 %}
                <a href="{{ post.url }}" class="btn-link">
                    <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    <h3>{{ post.title }}</h3>
                </a>
                <hr>
            {% endfor %}
            
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/ciptamediabersama/penerimahibah/bhinneka.html">Laporan Lainnya</a>
            </div>
          </div>
        
        {% else %}
        
          <h4>Tidak ada aktifitas</h4>
        
        {% endif %}
        
    </div>
  </div>

</div>
