---
layout: base
---

{% include header.html %}
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <!--data-data-->
         <div class="row">
            <div class="col-lg-3">Nomor:</div><div class="col-lg-9">{{ page.nohibah }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Nama Lengkap Inisiator:</div><div class="col-lg-9">{{ page.nama }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Lokasi:</div><div class="col-lg-9">{{ page.lokasi }}</div>
         </div>
        <hr>
        {% if page.organisasi != 'NA' %}
        <div class="row">
            <div class="col-lg-3">Organisasi:</div><div class="col-lg-9">{{ page.organisasi }}</div>
         </div>
        <hr>
        {% endif %}
         <div class="row">
            <div class="col-lg-3">Judul Proyek:</div><div class="col-lg-9">{{ page.judul }}</div>
         </div>
        <hr>
        {% if page.lama != 'NA' %}
         <div class="row">
            <div class="col-lg-3">Lama Aktivitas:</div><div class="col-lg-9">{{ page.lama }}</div>
         </div>
        <hr>
        {% endif %}
         <div class="row">
            <div class="col-lg-3">Target Pengguna / Penerima Manfaat:</div><div class="col-lg-9">{{ page.target | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Ukuran Keberhasilan:</div><div class="col-lg-9">{{ page.keberhasilan | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Tipe Konten:</div><div class="col-lg-9">{{ page.tipe | newline_to_br }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Strategi Distribusi:</div><div class="col-lg-9">{{ page.strategi | newline_to_br }}</div>
         </div>
        <hr>
        {% if page.kuantitas != 'NA' %}
        <div class="row">
            <div class="col-lg-3">Kuantitas Output Konten:</div><div class="col-lg-9">{{ page.kuantitas }}</div>
         </div>
        <hr>
        {% endif %}
        <div class="row">
            <div class="col-lg-3">Dana yang Diminta:</div><div class="col-lg-9">{{ page.dana }}</div>
         </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">Deskripsi Proyek:</div><div class="col-lg-9">{{ page.deskripsi | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Definisi Masalah:</div><div class="col-lg-9">{{ page.masalah | newline_to_br }}</div>
         </div>
        <hr>
         <div class="row">
            <div class="col-lg-3">Cara Mengatasi:</div><div class="col-lg-9">{{ page.solusi | newline_to_br }}</div>
         </div>
      <!--end-->  
      </div>
      <div class="col-md-4">
        <h1>Perkembangan Proyek</h1>
        <!--
        {% for post in site.categories['Berita'] %}
            <a href="{{ post.url }}" class="btn-link">
                <h4>
                    {{ post.title }}
                </h4>
            </a>
        {% endfor %}
        -->
      </div>
  </div>

</div>
