---
layout: base
---

<div class="container">
    <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
            <div class="ibox">
		{% capture category_breadcrumbs %}
			{{ page.categories | last }}
		{% endcapture %}
		<small><a href="/index.html">Beranda</a> > <a href="/ciptamediabersama/penerimahibah.html">Penerima Hibah CMB</a> > <a href="/{{ category_breadcrumbs | downcase | remove: " " }}/">{{ category_breadcrumbs }}</a> > {{ page.title }}</small>
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <h1> {{ page.title }}</h1>
                    </div>
                    	{{ content }}
                    <hr>

                    <br>
                </div>
            </div>
        </div>
	<div class="col-lg-3">
		<div class="panel-group" id="accordion">
			
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
			Tanggal Laporan</a>
		      </h4>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body">
			<i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}
		      </div>
		    </div>
		  </div>
		
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
			Lisensi Artikel</a>
		      </h4>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse">
		      <div class="panel-body text-center">
			{% assign tahun = page.date | date: "%Y" %}
			{{ page.date | date: "%B" }} {{ tahun }} | 
			{% case tahun %}
			{% when '2011' %}
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
			{% when '2012' %}
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
			{% when '2013' %}
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
			{% when '2014' %}
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
			{% when '2015' %}
			<a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
			{% when '2016' %}
			<a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
			{% when '2017' %}
			<a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
			{% endcase %} 
		      </div>
		    </div>
		  </div>
			
		  </div>
		</div>
    </div>
</div>
